div.accordion-container {
  text-align: left;
  margin: 0;
  padding: 0;
  border: none;
  white-space: normal;
  line-height: normal;
}
.overlay div .hidden { display:none;}
.accordion-container h2 {
all: unset;
margin:1em 0 0 0;
}
.accordion-container h2 button {  
all: inherit;    
border:1px solid black;
padding:5px 35px 5px 5px;
margin: 0;
/* background: #ddd url(nav-highlight02.png) right center no-repeat; */
cursor:pointer;
width:100%;
}
.accordion-container h2 button:hover,
.accordion-container h2 button:focus {
 background-color:#f9eed8;
}
.accordion-container h2 button[aria-expanded="true"] {
 /* background-image: url(nav-highlight03.png); */
}
.accordion-panel {
margin:0;
padding: 0.5em;
border: 2px solid #fff;
}
.accordion-panel:focus {
outline:none;
  -webkit-animation-name: animation;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;    
  -webkit-animation-play-state: running;
  
  animation-name: animation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;    
  animation-play-state: running;
  border: 2px solid #fff;
}
@-webkit-keyframes animation {
  0%     {border-color:#f9eed8;}
  100.0%  {border-color:#fff;}
}

@keyframes animation {
  0%     {border-color:#f9eed8;}
  100.0%  {border-color:#fff;}
}
.accordion-panel ul{
margin:0 0 1em 0;
padding:0;
}