/* formatting for "Item Details" section visible on mobile */
.transcription p.associated-links{
  flex-wrap: wrap;
  gap: .5rem 1rem;
}
/* formatting on main container */
.materials .cove{
  /* font-size:1.125em; */ /* only needed for COVE */
  padding: 1rem;
}
/* main headings in transcriptions */
.materials .cove h3{
  font-size: 1.125rem;
  font-family: inherit;
  font-weight: 400;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
}
.materials .cove h4{
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: 400;
  color: inherit;
  margin: 0;
  padding: 0;
}
.materials .cove h4.bold{
  font-weight: 600;
}
.materials .cove h5{
  font-size: .95rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.materials .cove h6{
  font-size: .9rem;
  font-style: italic;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.materials .cove p{
  text-indent: 1rem;
  clear: both;
  margin: 0;
  position: relative; /* Needed to override TEI coding*/
}
.materials .cove img{
  margin: 1rem 0;
}
.materials .cove .bv-hr{
  text-align: center;
  margin: .5rem auto;
  width: 15%;
}
.materials .cove .bv-hr-double{
  text-align: center;
  margin: .5rem auto;
  width: 30%;
}
/* variants of indent */
.materials .cove .halfindent{
  text-indent: .5rem;
}
.materials .cove .indent{
  text-indent: 1rem;
}
.materials .cove .doubleindent{
  text-indent: 2rem;
}
.materials .cove .noindent{
  text-indent: 0;
}
/* align left and right */
.materials .cove .left{
  text-align: left;
  float: none;
}
.materials .cove .right{
  text-align: right;
}
/* indent all but first line */
.materials .cove .overhang{
  text-indent: -1rem; 
  padding-left: 1rem;
}
/* adds margin above item */
.materials .cove .topmargin{
  margin-top: 1rem;
}
/* adds small margin to right of item */
.materials .cove .right1{
  margin-right: .75rem;
}
.materials .cove .right2{
  margin-right: 2rem;
}
.materials .cove .right4{
  margin-right: 4rem;
}
.materials .cove .right6{
  margin-right: 6rem;
}
.materials .cove .right7{
  margin-right: 7rem;
}
/* large sizes */
.materials .cove .large{
	font-size: 1.1em;
}
.materials .cove .larger{
	font-size: 1.2em;
}
.materials .cove .largest{
	font-size: 1.3em;
}
.materials .cove .large3{
  font-size: 2em;
  /* background: #E7E9E7; */
  margin-right: .1rem;
  padding: 0 .15rem;
  border: 1px solid #212119;
  outline: 1px solid #bdc2bd;
}
/* small sizes */
.materials .cove .small{
	font-size: .95em;
}
.materials .cove .smaller{
	font-size: .9em;
}
.materials .cove .smallest{
	font-size: .85em;
}
/* item specific coding */
.liv_025017 .stanza{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3.font.liv_025038,
h3.font.liv_025049,
h3.font.liv_025057{
  font-family: 'UnifrakturMaguntia', cursive !important;
  font-size: 1.7em;
}
.materials .cove p.liv_025038{
  text-indent: 7rem;
}
.materials .cove p.liv_025087{
  text-indent: 5rem;
}
.liv_025998 .poem{
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.liv_025998 h3.log-book{
  font-size: 1.5em;
  font-family: 'UnifrakturMaguntia', cursive !important;
}
p.liv_026001{
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.liv_026005 .poem-container{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.liv_026009 .poem{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0 1rem;
}
.font.liv_026010{
  font-family: 'UnifrakturMaguntia', cursive !important;
}
p.liv_026015{
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}
.liv_026029 .poem-container{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.liv_026037 .poem-container{
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.liv_026046 .poem-container{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* spacing about "Source Article Details" section heading */
#source-article-details{
  margin-top: 2.5rem;
}
@media only screen and (min-width: 768px){
  #source-article-details{
    margin-top: 3rem;
  }
}