*, *:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.mobile{
	display: inherit;
	visibility: visible;
}
.desktop{
	display: none;
	visibility: hidden;
}
@media only screen and (min-width: 992px){
	.mobile{
		display: none;
		visibility: hidden;
	}
	.desktop{
		display: inherit;
		visibility: visible;
	}
}
button{
  -webkit-appearance: button;
}
:root{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	line-height: 2rem;
	color: #212119;
}
html{
	background: #ededed;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
body{
	margin: 0 auto;
	padding: 0;
	border: 1px solid #212119;
	max-width: 100%;
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	top: 0px !important; /* Needed for Google Translate */
}
/*********/
.home h2,
.documents h2{
	border-left: 12px solid #8db7bf;
}
.home h3,
.documents h3{
	border-bottom: 8px solid #e3b382;
}
.materials h2{
	border-left: 12px solid #dcd3a6;
}
.materials h3{
	border-bottom: 8px solid #dcd3a6;
}
/*********/
h2{
	font-size: 1.5rem;
	font-family: 'Merriweather', serif;
	font-style: italic;
	line-height: 1.6em;
	color: #305056;
	margin-bottom: 2rem;
	padding: 0 0 0 .75rem;
}
@media only screen and (min-width: 480px){
	h2{
		font-size: 2.1rem;
		padding: 0 0 0 1rem;
	}
}
@media only screen and (min-width: 768px){
	h2{
		font-size: 2.3rem;
	}
}
@media only screen and (min-width: 992px){
	h2{
		font-size: 2.5rem;
	}
	.essay.critical h2{
		font-size: 1.7em;
	}
}
@media only screen and (min-width: 1200px){
	h2{
		font-size: 2.6rem;
	}
}
@media only screen and (min-width: 1366px){
	.essay.critical h2{
		font-size: 2.6rem;
	}
}
.introduction-text h2{
	border: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}
@media only screen and (min-width: 768px){
	.introduction-text h2{
		text-align: center;
		margin: 1rem 0;
	}	
}
.page-details h2{
	margin-bottom: 1.5rem;
}
@media only screen and (min-width: 768px){
	.page-details h2{
		margin-top: 1rem;
	}
}
@media only screen and (min-width: 992px){
	.page-details h2{
		margin-top: inherit;
	}
}
@media only screen and (min-width: 992px){
	.essay .page-details h2{
		line-height: 1.55em;
		margin-bottom: .5rem;
	}
}
@media only screen and (min-width: 1200px){
	.essay .page-details h2{
		margin-bottom: 1.5rem;
	}
}
h3{
	font-size: 1.3rem;
	font-family: 'Merriweather', serif;
	text-align: center;
	line-height: 1.6em;
	color: #305056;
	margin: 1.5rem 0;
	padding: 0 0 .75rem 0;
}
@media only screen and (min-width: 480px){
	h3{
		font-size: 1.4rem;
	}
}
@media only screen and (min-width: 768px){
	h3{
		font-size: 1.5rem;
	}
}
h3.subtitle{
	font-size: 1rem;
	font-variant: small-caps;
	font-weight: normal;
	text-align: left;
	color: #212119;
	border-bottom: none;
	margin: .5rem 0 1rem;
}
@media only screen and (min-width: 768px){
	h3.subtitle{
		font-size: 1.1rem;
	}
}
.essay h3.subtitle:before{
	content: "\f518";
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
	margin-right: .5rem;
}
/*********/
main{
	margin: 0 auto;
	padding: 0 0 1rem;
	display: -webkit-flex;
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
@media only screen and (min-width: 768px){
	main{
		padding: 1rem 0 0;
		max-width: 698px;
	}
	.home main,
	.categories main{
		padding-top: 0;
	}
}
@media only screen and (min-width: 992px){
	main{
		font-size: 1.125rem;
		padding: 0;
		max-width: 1600px;
	}
}
/*********/
.home .introduction-section, 
.categories .introduction-section{
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
 }
.home .introduction-section .image-wrapper,
.categories .introduction-section .image-wrapper{
	display: block;
	visibility: visible;
	position: relative;
}
.home .introduction-section img,
.categories .introduction-section img{
	margin: 0 auto;
	padding: 0;
	width: calc(100vw - 2px);
	max-width: 1600px;
}
.home .introduction-section .introduction-text,
.categories .introduction-section .introduction-text{
	margin: 0 auto;
	display: -webkit-flex;
  display: flex;
	flex-direction: column;
}
.home .introduction-section .introduction-text{
	padding: 0 1rem;
}
.categories .introduction-section .introduction-text{
	padding: 2rem 1rem 1rem;
	gap: 1rem;
}
@media only screen and (min-width: 768px){
	.home .introduction-section .introduction-text,
	.categories .introduction-section .introduction-text{
		max-width: 700px;
	}
	.home .introduction-section .introduction-text{
		padding: 0 2rem;
	}
	.categories .introduction-section .introduction-text{
		padding: 2rem;
	}
}
@media only screen and (min-width: 992px){
	.home .introduction-section,
	.categories .introduction-section{
		position: relative;
	}
	.home .introduction-section .introduction-text,
	.categories .introduction-section .introduction-text{
		background: rgb(226, 228, 226, .94);
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		padding: 2rem;
		position: absolute;
		top: 38%;
    transform: translate(0, -38%);
	}
	.home .introduction-section .introduction-text{
		width: 700px;
	}
	.categories .introduction-section .introduction-text{
		width: fit-content;
	}
}
.home .introduction-text h2,
.categories .introduction-text h2{
	text-align: center;
}
.categories .introduction-text h2{
	margin: 0;
}
.home .introduction-section p,
.categories .introduction-section p{
	line-height: 1.875em;
}
.home .introduction-section p{
	text-align: left;
}
.categories .introduction-section p{
	font-style: italic;
	text-align: center;
	margin: 0;
	padding: 0;
}
@media only screen and (min-width: 992px){
	.categories .introduction-section p{
		padding: 0 1.5rem;
	}
}
.home .introduction-section .introduction-text h2,
.categories .introduction-section .introduction-text h2{
	order: 2;
}
.home .introduction-section .introduction-text p,
.categories .introduction-section .introduction-text p{
	order: 3;
}
.home .introduction-section .introduction-text div,
.categories .introduction-section .introduction-text div{
	order: 1;
}
@media only screen and (min-width: 992px){
	.home .introduction-section .introduction-text h2,
	.categories .introduction-section .introduction-text h2{
		order: 1;
	}
	.home .introduction-section .introduction-text p,
	.categories .introduction-section .introduction-text p{
		order: 2;
	}
	.home .introduction-section .introduction-text div,
	.categories .introduction-section .introduction-text div{
		order: 3;
	}
}
/*********/
.essay .page-details{
	display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px){
	.essay .page-details{
		margin-bottom: 1rem;
	}
}
@media only screen and (min-width: 992px){
	.essay .page-details{
		width: 100%;
		display: -webkit-flex;
  	display: flex;
		flex-direction: row-reverse;
		align-items: flex-end;
		justify-content: space-between;
		gap: 2rem;
		margin: 1rem;
		position: relative;
	}
	.essay .page-details.vertical{
		align-items: center;
	}
}
@media only screen and (min-width: 1200px){
	.essay .page-details{
		align-items: center;
		margin: 1rem 1rem 2rem;
	}
}
@media only screen and (min-width: 992px) {
	.essay .page-details.horizontal div{
		width: 43%;
	}
	.essay .page-details.horizontal figure{
		width: 57%;
	}
	.essay .page-details.vertical div{
		width: 50%;
	}
	.essay .page-details.vertical figure{
		width: 50%;
	}
}
@media only screen and (min-width: 992px){
	.essay .page-details div{
		-webkit-box-shadow: #697c6f 0px 1px 6px 0px;
		-moz-box-shadow: #697c6f 0px 1px 6px 0px;
		box-shadow: #697c6f 0px 1px 6px 0px;
	}
}
.essay .page-details div{
	margin: 1rem 0;
	padding: 0 1rem;
}
@media only screen and (min-width: 768px){
	.essay .page-details div{
		margin: 2rem 0 0;
		padding: 0 2rem;
	}
}
@media only screen and (min-width: 992px){
	.essay .page-details div{
		margin: 0;
		padding: 1rem 2.25rem;
		height: 100%;
		display: -webkit-flex;
  	display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
.essay .page-details div > span{
	margin: 0 auto;
}
/* publication details in text container */
.essay .page-details ul.publication-details{
	list-style: none;
	line-height: 1.875rem;
	padding: 0;
}	
.essay .page-details ul.publication-details li{
	margin: .55rem 0;
}
.essay .page-details ul.publication-details li span{
	font-size: .9em;
	text-transform: uppercase;
	margin-right: .15rem;
}
@media only screen and (min-width: 992px){
	.essay .page-details ul.publication-details li{
		font-size: 1.05rem;
	}
}
/* image container */
@media only screen and (min-width: 768px){
	.essay .page-details.horizontal figure{
		min-width: 478px;
	}
	.essay .page-details.vertical figure{
		min-width: 488px;
	}
}
/*********/
.image-wrapper{
	line-height: 0;
	margin: 0;
	padding: 0;
	position: relative;
}
@media only screen and (min-width: 992px){
	.image-wrapper{
		position: inherit;
	}
}
.caption-icon{
	margin: 0;
	bottom: .5rem;
	right: .5rem;
	left: inherit;
	position: absolute;
}
.caption{
	font-size: 1.4rem;
	font-weight: normal;
	font-family: Arial, Geneva, Tahoma, sans-serif;
	text-decoration: none;
	background: #E7E9E7;
	border: 2px solid #4d5b51;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 4px 6px 2px;
	display: inline-block;
}
@media only screen and (min-width: 480px){
	 .caption{
		font-size: 1.6rem;
		padding: 5px 7px 3px;
	}
}
@media only screen and (min-width: 768px){
	 .caption{
		font-size: 1.8rem;
		padding: 6px 8px 4px;
	}
}
.caption i{
	color: #4d5b51;
}
/*********/
img{
	color: transparent;
	background: #E7E9E7;
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}
a img{
	border: 4px transparent solid;
}
.image-container{
	padding: .5em;
}
.image-border{
	outline: 1px solid #bdc2bd;
}
.image-border-dark{
	border: 1px solid #737d73;
}
/* Image overlay adapted from https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #8db7bf;
	z-index: 1;
}
/*********/
a,
a:visited{
	color: #305056;
	background: transparent;
}
/*********/
a.action-button,
a.action-button:visited,
#rotate-button{
	font-size: 1.1rem;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	color: #305056;
	background: #fff;
	-webkit-box-shadow: #697c6f 0px 3px 7px 0px;
	-moz-box-shadow: #697c6f 0px 3px 7px 0px;
	box-shadow: #697c6f 0px 3px 7px 0px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	margin: 2rem 0 0;
	padding: 10px 30px;
	align-self: center;
}
@media only screen and (min-width: 1200px){
	a.action-button,
	a.action-button:visited,
	#rotate-button{
		font-size: 1.25rem;
		padding: 12px 30px;
	}
}
.action-button.primary,
.home .action-button.primary{
	color: #212119;
	background: #F1EACA;
}
.action-button.secondary,
.home .action-button.secondary{
	color: #212119;
	background: #EECFA7;
}
.action-button.tertiary,
.home .action-button.tertiary{
	color: #212119;
	background: #aeced9;
}
a.action-button i{
	margin-left: .5rem;
}
.home-buttons{
	margin: .75rem 0 1.25rem;
	display: -webkit-flex;
  display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.home a.action-button{
	font-size: 1rem;
	text-transform: none;
	white-space: nowrap;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 1.25rem 1rem;
	padding: 10px 0;
	width: 11rem;
	display: -webkit-flex;
  display: flex;
	visibility: visible;
	align-items: center;
	justify-content: center;
}
@media only screen and (min-width: 768px){
	.home-buttons{
		margin: 2rem 0;
	}
	.home a.action-button{
		font-size: 1.15rem;
		margin: 0 1rem;
		width: 11rem;
	}
}
@media only screen and (min-width: 992px){
	.home-buttons{
		margin: 2rem 0;
		justify-content: space-between;
	}
}
.essay a.action-button{
	display: none;
	visibility: hidden;
}
/*********/
header{
	background: #212119;
	margin: 0 auto;
	padding: .3rem 0;
	height: 40.6px;
	width: 100%;
	max-width: 1600px;
	display: -webkit-flex;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 480px){
	header{
		padding: .25rem 0;
		height: 48px;
	}
}
@media only screen and (min-width: 768px){
	header{
		padding: .1rem .25rem;
		height: 55.2px;
	}
}
.nav-container{
	padding: 0 .5rem;
	width: 100%;
	display: -webkit-flex;
  display: flex;
	justify-content: center;
}
header nav{
	width: 100%;
	display: -webkit-flex;
  display: flex;
  align-items: center;
	justify-content: space-between;
}
@media only screen and (min-width: 992px){
	header nav{
		max-width: 1600px;
	}
}
header nav a,
header nav a:visited,
header nav button{
	text-decoration: none;
	color: #fff;
}
/*********/
nav .logo-container{
	margin: 0;
}
@media only screen and (min-width: 480px){
	nav .logo-container{
    margin-right: 1%;
	}
}
@media only screen and (min-width: 624px){
	nav .logo-container{
    margin: 0;
	}
}
nav .logo-container a{
	display: -webkit-flex;
  display: flex;
	align-items: center;
}
nav .logo-container a img{
	border: none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
nav .logo-container a img{
	margin: 0;
	width: 29px;
	height: 29px;
}
@media only screen and (min-width: 480px){
	nav .logo-container a img{
		width: 36px;
		height: 36px;
	}
}
@media only screen and (min-width: 768px){
	nav .logo-container a img{
		width: 39px;
		height: 39px;
	}
}
nav .logo-container a h1{
	font-family: 'Amaranth', sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	white-space: nowrap;
	margin: 0 0 0 .5rem;
}
@media only screen and (min-width: 480px){
	nav .logo-container a h1{
		font-size: 1.7rem;
	}
}
@media only screen and (min-width: 768px){
	nav .logo-container a h1{
		font-size: 1.8rem;
	}
}
/*********/
.goog-te-banner-frame.skiptranslate{
	display: none !important;
	visibility: hidden !important;
}
.original-text{
	text-align: unset !important;
}
.translate-widget{
	margin: .4rem 1rem .5rem .3rem;
}
.translate{
	padding-right: 5px;
  width: 203px;
  height: 32px;
	overflow: hidden;
	display: none;
	visibility: hidden;
}
@media only screen and (min-width: 480px){
	.translate-widget{
		margin: .6rem .3rem;
	}
}
@media only screen and (min-width: 992px){
	.translate{
		display: -webkit-flex;
  	display: flex;
		visibility: visible;
	}	
}
.translate span{
	border: 2px solid transparent;
	padding: 0 6px;
	display: -webkit-flex;
  display: flex;
  align-items: center;
}
.translate img{
	background: none;
	border: none;
	width: 18px;
	height: 18px;
}
#google_translate_element > div > span > a > img{
	width: 3.5rem;
}
div.skiptranslate.goog-te-gadget{
	background: #212119 !important;
	color: #fff !important;
}
#google_translate_element div.goog-te-gadget .goog-te-combo{
	font-size: .95rem;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: #212119;
	border: 2px solid transparent;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin: 0 0 0 -3px;
	padding: 1px;
}
div.skiptranslate:nth-child(1){
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: #212119;
	padding-left: 4px;
	line-height: 2.5em;
	margin-top: .2rem;
}
div.skiptranslate:nth-child(1) > span:nth-child(2),
div.skiptranslate:nth-child(1) > span:nth-child(2){
	border: 2px transparent solid;
	margin-left: -2px;
	display: none;
	visibility: hidden;
}
#google_translate_element > div > span > a > img,
#google_translate_element > div > span > a > img{
	border: 2px transparent solid;
	padding-right: 1px !important;
}
.goog-logo-link,
.goog-logo-link:link{
	font-size: 11px !important;
	font-weight: normal !important;
	color: #697c6f !important;
}
/*********/
nav .button-container{
	white-space: nowrap;
	margin: 0;
	display: -webkit-flex;
  display: flex;
	align-items: center;
	justify-content: center;
}
@media only screen and (min-width: 480px){
	nav .button-container{
		justify-content: flex-end;
		width: 100%;
	}
}
@media only screen and (min-width: 768px){
	nav .button-container{
		margin-left: 2rem;
		min-width: calc(50% + .5rem);
		justify-content: space-between;
	}
}
@media only screen and (min-width: 992px){
	nav .button-container{
		margin-left: 0;
		justify-content: flex-end;
		gap: 2rem;
	}
}
nav .button-container .home-icon,
nav .button-container a.external{
	height: fit-content;
	display: none;
	visibility: hidden;
}
[aria-describedby="zotero-icon-1"],
[aria-describedby="zotero-icon-2"]{
	margin-top: 0.15rem;
}
@media only screen and (min-width: 992px){
	nav .button-container a.external{
		display: -webkit-flex;
  	display: flex;
    visibility: visible;
    align-items: center;
    justify-content: center;
	}
}
@media only screen and (min-width: 992px){
	nav .button-container .home-icon{
		display: -webkit-flex;
  	display: flex;
    visibility: visible;
    align-items: center;
    justify-content: center;
	}
}
nav .button-container a.external i{
	margin: 0 .15rem;
	padding: .25rem .5rem;
}
nav .button-container a.external i{
	font-size: 1.6rem;
	color: #E7E9E7;
}
/*********/
nav .hamburger-menu,
nav .close{
	color: #fff;
	background: transparent;
	border: none;
	cursor: pointer;
}
nav .menu-icon{
	margin: 0;
}
nav .hamburger-menu{
	padding: 6px 7px 4px;
}
nav .close-icon{
	margin: 0 0 .1rem;
	display: none;
	visibility: hidden;
}
nav .close{
	padding: 5px 9px;
}
@media only screen and (min-width: 768px){
	nav .menu-icon{
		margin-left: .5em;
	}
	nav .hamburger-menu{
		padding: 6px 7px 5px;
	}
	nav .close-icon{
		margin-left: .5rem;
	}
}
nav.fallback .hamburger-menu{
	margin: 0 0.5rem 0 0;
	display: -webkit-flex;
	display: flex;
	visibility: visible;
}
nav .hamburger-menu .fa-bars,
nav .close .fa-times{
	font-size: 1.5rem;
}
@media only screen and (min-width: 480px){
	nav .hamburger-menu .fa-bars,
	nav .close .fa-times{
		font-size: 1.6rem;
	}
}
@media only screen and (min-width: 768px){
	nav .hamburger-menu .fa-bars,
	nav .close .fa-times{
		font-size: 1.7rem;
	}
}
/*********/
aside.text-box,
aside.warning-box{
	background: #E7E9E7;
	border: 1px solid #bdc2bd;
	border-left: 6px solid #8db7bf;
	padding: 1rem;
	margin: 1.5rem auto;
}
aside.text-box{
	border-left: 6px solid #8db7bf;
}
aside.warning-box.violence,
aside.warning-box.language{
	border-left: 6px solid #85454B;
	max-width: 700px;
}
/*********/
.bold{
	font-weight: 600;
}
.caps{
	text-transform: uppercase;
}
.center{
	text-align: center;
}
.half{
	width: 50%;
}
.hidden{
  display: none;
}
.highlight{
	color: #743B41;
}
.italic{
	font-style: italic;
}
.left{
	text-align: left;
}
.right{
  text-align: right;
}
.site-red{
	color: #743B41;
}
.small{
	font-size: .9em;
}
.smallcaps{
	font-variant: small-caps;
}
strong{
	font-weight: 600;
}
.underline{
	text-decoration: underline;
}
/*********/
@media only screen and (min-width: 992px){
	.error404 main{
		margin-top: 1rem;
	}
}
.error404 main div{
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media only screen and (min-width: 992px){
	.error404 .page-details div{
		min-width: 375px;
	}
}
@media only screen and (min-width: 1200px){
	.error404 .page-details div{
		min-width: 450px;
	}
}
.error404 main span{
	text-align: center;
}
.error404 main span h2{
	font-size: 2rem;
	text-align: left;
}
@media only screen and (min-width: 768px){
	.error404 main span h2{
		font-size: 2.7rem;
	}
}
.essay.error404 .horizontal a.action-button,
.essay.error404 .horizontal a.action-button:visited{
	text-transform: none;
	color: #fff;
	background: #743B41;
	margin-bottom: 2rem;
	display: inline-block;
	visibility: visible;
}