html{
  font: 16px Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  color: #191716;
	/* overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-ms-word-break: break-all;
	hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body{
  top: 0 !important;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  -moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: antialiased;
}
.text-container{
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}
@media only screen and (min-width: 480px){
  .text-container{
      margin-top: 70px;
  }
}
@media only screen and (min-width: 992px){
  .text-container{
      border-right: 1px solid #bfbfbf;
      border-left: 1px solid #bfbfbf;
      margin-top: 51.1px;
      margin-bottom: 0;
      min-width: 992px;
      max-width: 1200px;
      display: flex;
      flex-direction: row-reverse;
  }
}
@media only screen and (min-width: 768px){
  .page-wrapper{
      margin: 0 auto;
      max-width: 700px;
  }
}
@media only screen and (min-width: 992px){
  .page-wrapper{
      margin: 0 auto;
      padding: 36px 1.2em 0;
      width: 100%;
      max-width: 900px;
  }
}
.transcription header,
header{
  text-align: center;
  margin: 44px auto 0;
  max-width: 700px;
  position: relative;
}
@media only screen and (min-width: 480px){
  .transcription header,
  header{
      margin-top: 54px;
  }
}
@media only screen and (min-width: 768px){
  .transcription header,
  header{
      margin-bottom: 1em;
  }
}
@media only screen and (min-width: 992px){
  .transcription header,
  header{
      margin-top: 0;
  }
}

main,
aside.credits#credits-div,
aside.credits#credits2-div,
aside.credits#main,
main.object#object-div{
  line-height: 1.875em;
  margin: 0 auto;
  max-width: 700px;
}
main{
  font-size: 1.25em;
  padding: 1em;
}
aside.credits#credits-div{
  font-size: 1.2em;
  padding: 0 1em 1em;
}
aside.credits#main{
  font-size: 1.2em;
  padding: 1em 1em 0;
}
main.object#object-div{
  padding: 0 1em;
}
aside.credits#credits2-div{
  font-size: 1.2em;
  padding: 0 1em 1em;
}
main.journal#journal-div,
main.manuscript#manuscript-div{
  padding: 0;
}
@media only screen and (min-width: 480px){
  main.object#object-div{
      padding: 1em;
  }
}
@media only screen and (min-width: 768px){
  main{
      font-size: 1.2em;
      padding: 1em 0;
  }
  aside.credits#credits-div{
      font-size: 1.15em;
      padding: 0 0 1.5em;
  }
  aside.credits#main{
      font-size: 1.15em;
      padding: 1em 0 0;
  }
  main.object#object-div{
      font-size: 1.15em;
      padding: 0 0 1em;
  }
  aside.credits#credits2-div{
      font-size: 1.15em;
      padding: 0 0 1.5em;
  }
}
@media only screen and (min-width: 992px){
  main{
      font-size: 1.15em;
      display: block !important;
  }
  aside.credits#credits-div{
      font-size: 1.1em;
  }
  aside.credits#main{
      font-size: 1.1em;
  }
  main.object#object-div{
      font-size: 1.1em;
  }
  aside.credits#credits2-div{
      font-size: 1.1em;
  }
}
.essay h2,
.transcription h2{
	color: #204A79;
	margin: .5em auto 0 auto;
}
.essay h2{
	font-size: 1.25em;
}
.transcription h2{
	font-size: 1.2em;
}
@media only screen and (min-width: 768px){
	.essay h2{
		font-size: 1.2em;
	}
	.transcription h2{
		font-size: 1.15em;
	}
}
img{
	font-weight: 300;
	color: #e6e6e6;
  width: 100%;
}
header img{
  background: #e6e6e6;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
}
a img{
  border: 3px transparent solid;
}
.image-border{
  border: 1px solid #e3e3e3;
}
@media screen and (min-width: 480px){
  .responsive-image70{
      width: 70%;
  }
  .responsive-image73{
      width: 73%;
  }
  .caption70{
      padding: 0 15%;
  }
  .caption73{
      padding: 0 13.5%;
  }
}
.image-wrapper{
  line-height: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
.image-wrapper .caption{
  font-size: 1.5em;
  font-weight: normal;
  font-family: Arial, Geneva, Tahoma, sans-serif;
  background-color: #e3e3e3;
  border: 2px solid #595959;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 0;
  padding: 2px 4px;
  bottom: 7px;
  right: 7px;
  position: absolute;
}
@media screen and (min-width: 480px){
  .image-wrapper .caption{
      font-size: 1.7em;
      padding: 4px 6px;
  }
  .image-wrapper .caption70{
      margin-right: 15%;
  }
  .image-wrapper .caption73{
      margin-right: 13.5%;
  }
}
.image-wrapper a{
  color: #595959 !important;
  background-color: unset;
}
a,
a:visited{
  color: #204A79;
}
.navigation,
.navigation.fallback{
  font: 16px 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 1em;
  color: #0b0b0b;
  background-color: #e3e3e3;
  border-bottom: 1px solid #737373;
  height: 44px;
  width: 100%;
  top: 0;
  position: fixed;
}
.navigation{
  z-index: 20;
}
.navigation.fallback{
  z-index: 19;
}
@media only screen and (min-width: 480px){
  .navigation,
  .navigation.fallback,
  .overlay .navigation{
      height: 49.5px;
  }
}
@media only screen and (min-width: 768px){
	.navigation,
	.navigation.fallback,
	.overlay .navigation{
		height: 52.5px;
	}
}
.navigation a,
.navigation a:focus,
.navigation a:hover,
.overlay .navigation a,
.overlay .navigation a,
.overlay .navigation a:focus,
.overlay .navigation a:hover{
  color: #0b0b0b;
  text-decoration: none;
}
.nav-wrapper,
.overlay .nav-wrapper{
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 992px){
  .nav-wrapper{
      min-width: 992px;
      max-width: 1200px;
      left: 50%;
      transform: translate(-50%,0);
      display: flex;
      flex-direction: row-reverse;
  }
}
#nav10,
#nav2,
#nav8{
  left: 0.5em;
  position: absolute;
  display: inline-block;
}
#nav10,
#nav2,
#nav8{
  top: 50%;
  transform: translate(0,-50%);
}
#nav10 img,
#nav2 img,
#nav8 img{
  height: 1.8em;
  width: 1.8em;
  vertical-align: middle;
  margin: 0;
  padding: 0.15em;
}
@media only screen and (min-width: 480px){
  #nav10 img,
  #nav2 img,
  #nav8 img{
      height: 2.2em;
      width: 2.2em;
  }
}
@media only screen and (min-width: 768px){
  #nav10 img,
  #nav2 img,
  #nav8 img{
      height: 2.4em;
      width: 2.4em;
  }
}
#nav10 img,
#nav10:focus img,
#nav10:hover img,
#nav2 img,
#nav2:focus img,
#nav2:hover img,
#nav8 img,
#nav8:focus img,
#nav8:hover img{
  border: none;
}
#nav11,
#nav3,
#nav9{
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}
@media only screen and (min-width: 768px){
  #nav11,
  #nav3,
  #nav9{
      left: 3.9em;
      transform: translate(0,-50%);
  }
}
@media only screen and (min-width: 992px){
  #nav11,
  #nav3,
  #nav9{
      left: 3.7em;
  }
}
#nav11 h1,
#nav3 h1,
#nav9 h1{
  font-family: 'Merriweather', serif;
  font-size: 1.4em;
  font-weight: 700;
  margin: 0;
}
@media only screen and (min-width: 480px){
  #nav11 h1,
  #nav3 h1,
  #nav9 h1{
      font-size: 1.5em;
  }
}
@media only screen and (min-width: 768px){
  #nav11 h1,
  #nav3 h1,
  #nav9 h1{
      font-family: 'Merriweather', serif;
      font-size: 1.7em;
      font-weight: 900;
  }
}
#nav4{
  white-space: nowrap;
  line-height: 1em;
  text-align: center;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
  display: none;
  visibility: hidden;
}
@media only screen and (min-width: 992px){
  #nav4{
      margin: 0 auto;
      left: 0;
      transform: translate(0);
      visibility: visible;
      display: flex;
      justify-content: center;
  }
}
#nav4 .current{
  border-bottom: 3px solid #204a79;
}
#nav4 li{
  font-size: 1.05em;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
#nav4 li a{
  padding: 17px 13px;
}
#nav4 li .dropdown .vh{
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
#nav4 li .dropdown label{
  display: inline-block;
}
a::after,
label::after{
  font-family: 'Font Awesome 5 Free';
}
label::after{
  content: '\f0da';
  width: 0.5em;
  display: inline-block;
}
input:checked + label::after{
  content: '\f0d7';
}
#nav4 li .dropdown label.dropbtn{
  padding: 19px 13px;
  border: none;
}
:checked + label .expanded-text{
  display: inline;
}
:checked + label .collapsed-text{
  display: none;
}
[type="checkbox"]:not(:checked) + label .expanded-text{
  display: none;
}
[type="checkbox"]:not(:checked) + label .collapsed-text{
  display: inline;
}
.dropdown-content{
  display: none;
}
:checked ~ .dropdown-content{
  display: block;
}
#nav5,
#nav7 .close,
#nav12{
	color: #0b0b0b;
	text-decoration: none;
	border: none;
	background: transparent;
	height: 32px;
	top: 50%;
	position: absolute;
	transform: translate(0, -50%);
}
#nav5,
#nav7 .close{
	width: 36px;
	right: .5em;
}
#nav12{
	margin-right: -.1em;
	line-height: normal;
	width: 35px;
	right: .45em;
}
@media only screen and (min-width: 480px){
	#nav5,
	#nav7 .close{
		right: 1.5em;
	}
	#nav12{
		right: 1.2em;
	}
}
@media only screen and (min-width: 768px){
	#nav5,
	#nav7 .close{
		right: 2em;
	}
	#nav12{
		right: 1.5em;
	}
}
@media only screen and (min-width: 992px){
	#nav5,
	#nav7 .close{
		display: none;
		visibility: hidden;
	}
	#nav12{
		display: block;
		visibility: visible;
	}
}
#nav5 .fa-bars,
#nav7 .close .fa-times{
	font-size: 1.6em;
}
#nav12 .fa-bars{
	font-size: 1.1em;
	padding: 7px 0;
}
@media only screen and (min-width: 320px){
	#nav5 .fa-bars,
	#nav7 .close .fa-times{
		font-size: 1.8em;
	}
	#nav12 .fa-bars{
		font-size: 1.23em;
		padding: 6px 0;
  }
}
.overlay{
  display: none;
  visibility: hidden;
}
.sidebar-container{
  background-color: #3B5E52;
  border: 1px solid #737373;
  border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
  margin: 1em 2em 1em 0;
  width: 100%;
  min-width: 235px;
  max-width: 250px;
  display: none;
  visibility: hidden;
}
@media only screen and (min-width: 992px){
  .sidebar-container{
      display: block;
      visibility: visible;
  }
}
aside.sidebar{
  font-size: .9em;
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 36px 0 0;
}
aside.sidebar a{
  color: #fff;
  text-decoration: none;
}
aside.sidebar h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.35em;
  font-weight: 300;
  color: #fff;
  background-color: #204A79;
  border: 1px solid #fff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin: 1em 0 1.5em;
  padding: 2px 6px;
  display: inline-block;
}
aside.sidebar h2:first-child{
  margin-top: 0;
}
aside.sidebar ul{
  list-style: none;
  margin: 0;
  padding: 0 0 2em;
}
aside.sidebar ul:last-child{
  padding-bottom: 0;
}
aside.sidebar li{
  margin-bottom: 1em;
  display: block;
}
aside.sidebar .popular li{
  margin-bottom: 2em;
  display: block;
}
aside.sidebar .popular li:last-child{
	margin-bottom: 0;
}
aside.sidebar li a img{
  text-align: center;
  margin: 0 auto;
  width: 100px;
  display: block;
}
aside.sidebar .popular li a img{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 2px solid transparent;
  margin-bottom: 3px;
}
aside.sidebar .external li{
	text-decoration: none;
	padding: .2em;
}
aside.sidebar .notable a{
	padding: 3px;
}
aside.sidebar li a img{
	text-align: center;
	margin: 0 auto;
	width: 100px;
	display: block;
}
aside.sidebar .popular li a img{
	/* the following 3 hide alt text */
	text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
	border: 2px solid transparent;
	margin-bottom: 3px;
}
aside.sidebar .external li a img{
	text-align: center;
	margin: 0 auto;
	padding: .5em;
	display: block;
	filter: invert(1);
}
aside.sidebar .external li a img{
	border: 2px solid transparent;
	width: 100px;
}
aside.sidebar .external li a img.wp{
	border: 2px solid transparent;
	width: 150px;
}
aside.sidebar .external li a img.lo{
	border: 2px solid transparent;
	width: 175px;
}
.button-container{
	display: flex;
	align-items: baseline;
	max-height: 70px;
}
@media only screen and (min-width: 768px){
	.button-container{
		margin: 0 0 1.5em 0;
		display: flex;
	}
}
.download{
  display: none;
  visibility: hidden;
}
/* @media only screen and (min-width: 992px){
  .download{
    margin-right: 1em;
    padding-right: 1em;
    border-right: 2px solid #e3e3e3;
    line-height: 1em;
    display: inline-block;
    visibility: visible;
  }
  .download div:nth-child(1){
    font-size: 14.3px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background: #fff;
    border: 2px solid #E3E3E3;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    margin: 0;
    padding: 1px 8px;
    height: 20px;
    min-width: 150px;
  }
  .download div:nth-child(1) a,
  .download div:nth-child(1) a:visited{
    color: unset;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .download div:nth-child(1) i{
    color: #404040;
  }
  .download div:nth-child(2){
    color: #666 ;
    font-size: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin-top: .6em;
  }
} */
.goog-te-banner-frame.skiptranslate{
  display: none !important;
  visibility: hidden !important;
}
.original-text{
  text-align: unset !important;
}
.translate{
	max-width: 170px;
	float: left;
	overflow: hidden !important;
  margin-bottom: -.2em;
}
#google_translate_element{
	min-height: 72px;
}
@media only screen and (min-width: 768px){
	#google_translate_element{
		min-height: 68px;
	}
}
@media only screen and (min-width: 992px){
	#google_translate_element{
		min-height: 66px;
	}
}
#google_translate_element > div > span > a > img{
  width: 3.5em;
}
#google_translate_element div.goog-te-gadget .goog-te-combo{
  font-size: 1.3em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  border: 2px solid #E3E3E3;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  margin: 0 0 0 -3px;
  padding: 1px;
}
div.skiptranslate:nth-child(1){
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  padding-left: 4px;
  line-height: 2.5em;
	margin-top: .5em;
}
div.skiptranslate:nth-child(1) > span:nth-child(2),
div.skiptranslate:nth-child(1) > span:nth-child(2){
  border: 2px transparent solid;
  margin-left: -2px;
}
#google_translate_element > div > span > a > img,
#google_translate_element > div > span > a > img{
  border: 2px transparent solid;
  padding-right: 1px !important;
}
.goog-logo-link,
.goog-logo-link:link{
  font-size: 11px !important;
  font-weight: normal !important;
  color: #666 !important;
}
.italic{
  font-style: italic;
}