/* "William Ivens Craft and the Transatlantic Victorian World" CSS File for One More Voice (https://onemorevoice.org/) */

/* Created and maintained by Adrian S. Wisnicki, with Hope McCaffrey */ /* 2023 */

/********************/

/* combo #2 variant: yellow border left, yellow border bottom, blue frame */
.materials.ivens-craft h2{
	border-left: 12px solid #9EB5E1;
}
.materials.ivens-craft h3{
	border-bottom: 8px solid #9EB5E1;
}
.materials.ivens-craft .toc ol:before{
	border-bottom: 4px solid #9EB5E1;
}
.materials.ivens-craft .content div.decoration{
	background: #e1ca9e;
}

/* random blue elements */
h2,
h3,
.toc > ol:first-child:before,
a,
a:visited{
	color: #223c6e;
}

/* text box on hover/focus */
.ivens-craft a:hover,
.ivens-craft a:focus{
	outline: 3px solid #c47880;
}