/* "William Ivens Craft and the Transatlantic Victorian World" CSS File for One More Voice (https://onemorevoice.org/) */

/* Created and maintained by Adrian S. Wisnicki, with Hope McCaffrey */ /* 2023 */

/*
Red: #4f0d32;
Red (slightly lighter): #60103d;
Blue: #13135e;
Yellow: #cac121;
Dark Gray: #595959; 
Light Gray: #808F85;

*/
/********************/

/* combo #2 variant: yellow border left, yellow border bottom, blue frame */
.ivens-craft main h2{
	border-left: 12px solid #cac121;
}
.ivens-craft main h3{
	border-bottom: 8px solid #cac121;
}
.ivens-craft main .toc ol:before{
	border-bottom: 4px solid #cac121;
}
.ivens-craft main .content div.decoration{
	background: #4f0d32;
}

/* random blue elements */
.ivens-craft main h2,
.ivens-craft main h3,
.ivens-craft main .toc > ol:first-child:before,
.ivens-craft main a,
.ivens-craft main a:visited{
	color: #13135e;
}

/* text box on hover/focus */
.ivens-craft main a:hover,
.ivens-craft main  a:focus{
	outline: 3px solid #60103d;
}

.ivens-craft #topbutton{
	background: #595959;
}

.ivens-craft #topButton:hover, 
.ivens-craft #topButton:focus {
  color: #595959;
  background: #fff;
  border: 2px solid #595959;
}

.ivens-craft footer{
	background: #212119;
}

.arrow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: calc(50% - 40.7px);
  z-index: 9999;
  width: 100%;
  padding: 0 20px;
	line-height: 0;
}

@media only screen and (min-width: 480px){
	.arrow-container {
		top: calc(50% - 43.1px);
	}
}
@media only screen and (min-width: 768px){
	.arrow-container {
		top: calc(50% - 45.6px);
	}
}
@media only screen and (min-width: 1200px){
	.arrow-container {
		top: calc(50% - 47.2px);
	}
}

.arrow-container a{
	padding: .8rem .1rem;
	background: #fff;
	border: 1px solid #212119;
}

.arrow-button svg {
  width: 26px;
  height: 26px;	
}