/* "Recovering Histories" CSS File for One More Voice (https://onemorevoice.org/) */

/* Created and maintained by Adrian S. Wisnicki */ /* 2023 */

/********************/

/* General Coding */

/* formatting on main container */
.materials .recovering-histories{
  padding: 1rem;
}
/* spacing above "Source Article Details" section heading */
#source-article-details{
  margin-top: 2.5rem;
}
@media only screen and (min-width: 768px){
  #source-article-details{
    margin-top: 3rem;
  }
}
/* paragraphs */
.materials .recovering-histories p{
  text-indent: 1rem;
  clear: both;
  margin: 0;
  position: relative; /* Needed to override TEI coding*/
}
/* running headers */
.materials .recovering-histories fw{
  margin: 2rem 0 .5rem;
  display: block;
}
/* align right */
.materials .recovering-histories .right{
  text-align: right;
}
/* adds small margin to right of item */
.materials .recovering-histories .right1{
  margin-right: .75rem;
}
.materials .recovering-histories .right2{
  margin-right: 2rem;
}
.materials .recovering-histories .right3{
  margin-right: 3rem;
}
.materials .recovering-histories .right4{
  margin-right: 4rem;
}
.materials .recovering-histories .right6{
  margin-right: 6rem;
}
.materials .recovering-histories .right7{
  margin-right: 7rem;
}
.materials .recovering-histories .right9{
  margin-right: 9rem;
}
.materials .recovering-histories .right10{
  margin-right: 10rem;
}
/* adds margin to item */
.materials .recovering-histories .topmargin{
  margin-top: 1rem;
}
.materials .recovering-histories .leftmargin{
  margin-left: 1rem;
}
.materials .recovering-histories .doubleleftmargin{
  margin-left: 2rem;
}
.materials .recovering-histories .left5{
  margin-left: 5rem;
}
.materials .recovering-histories .left7{
  margin-left: 7rem;
}
.materials .recovering-histories .bottommargin{
  margin-bottom: 1rem;
}
.materials .recovering-histories .halfbottommargin{
  margin-bottom: .5rem;
}
/* variants of indent */
.materials .recovering-histories .noindent{
  text-indent: 0;
}
/* overhang */
.materials .recovering-histories .overhang{
  text-indent: -2rem; 
  padding-left: 2rem;
}
/* list with overhang */
.materials .recovering-histories ol.overhang,
.materials .recovering-histories ul.overhang{
	list-style-position: inside;
  margin: 0;
	padding: 0 0 0 2.4rem;
}
/* remove margin top or bottom */
.materials .recovering-histories .nomarginbottom{
	margin-bottom: 0;
}
.materials .recovering-histories .nomargintop{
	margin-top: 0;
}
/* sizing */
.materials .recovering-histories .smaller{
	font-size: .85em;
}
.materials .recovering-histories .smallest{
	font-size: .8em;
}


/* Item-Specific Coding */

/* columns on various pages in liv_022004 */
.row.liv_022004-1,
.row.liv_022004-2{
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}
.row.liv_022004-3,
.row.liv_022004-4,
.row.liv_022004-6{
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
}
.row.liv_022004-5,
.row.liv_022004-7{
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}
.row.liv_022004-3{
  margin-left: 1.5rem;
}
.row.liv_022004-4{
  margin-left: 11rem;
}
.row.liv_022004-6{
  margin-left: 20rem;
}
.row.liv_022004-2,
.row.liv_022004-3,
.row.liv_022004-4,
.row.liv_022004-4,
.row.liv_022004-5,
.row.liv_022004-6,
.row.liv_022004-7{
  font-size: .9em;
  line-height: 1.5em;
}
.row.liv_022004-2 .item{
  display: -webkit-flex;
  display: flex;
  align-content: center;
}
.row.liv_022004-2 .column:nth-child(3) .item,
.row.liv_022004-2 .column:nth-child(6) .item,
.row.liv_022004-5 .column:nth-child(3) .item{
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}
.row.liv_022004-7 .column:nth-child(3) .item{
  display: -webkit-flex;
  display: flex;
  justify-content: center; 
}
.row.liv_022004-3 .item,
.row.liv_022004-4 .item,
.row.liv_022004-5 .item,
.row.liv_022004-6 .item,
.row.liv_022004-7 .item{
  margin: 0 1.5rem;
}
.halfline.liv_022004{
  width: 38%;
  border-top: 3px solid #58484b;
}