/* Slider adapted from https://dev.to/link2twenty/accessibility-first-toggle-switches-3obj x*/

/* See 1189: .manuscript .TEI */

.switches{
	font-size: .92em;
}

@media only screen and (min-width: 768px){
	.switches{
		font-size: 1em;
	}
}

/* hide regular checkbox */
.md_switch [type=checkbox] {
	pointer-events: none;
	opacity: 0;
	position: absolute;
	}

/* remove dropdown arrow */
label.md_switch::after{
	display: none;	
}

/* container specs */
.md_switch {
	margin: .5em;
	padding: .5em;
	height: 1.5em;
	/* width: 12.8em; */
	border: 1px #525252 solid;
	border-radius: 10px;
	align-items: center;
	display: inline-flex;
}

/* label */
label.md_switch{
	font-size: .95em;
	font-weight: 600;
	font-family: Arial, Geneva, Tahoma, sans-serif;
	/* color: #525252; */
	padding-left: 12px;
}

/* full toggle position/qualities */
.md_switch .md_switch__toggle {
	right: -6px;
	cursor: pointer;
	position: relative;
	}

/* common: slider (before) & switch (after) */
.md_switch .md_switch__toggle::before,
.md_switch .md_switch__toggle::after {
	content: '';
	margin: 0 3px;
	border: 1px solid #858585;
	transition: all 100ms;
	display: block;
	}

/* slider only */
.md_switch .md_switch__toggle::before {
	background-color: #525252;
	height: 1.7em;
	width: 3.5em;
	border-radius: 30px;	
	align-items: center;
	display: inline-flex;
}
.md_switch [type=checkbox]:checked+.md_switch__toggle::before{
	background-color: #dbdbdb;
}

/* switch only */
.md_switch .md_switch__toggle::after {
	background-color: white;
	top: 50%;
	left: 3px;
	height: 1.5em;
	width: 1.6em;
	border-radius: 50%;
	transform: translate(0, -50%);
	position: absolute;
}
.md_switch [type=checkbox]:checked+.md_switch__toggle::after{
	content: "";
	height: 1.5em;
	width: 1.6em;
	transform: translate(calc(3.3em - 100%), -50%);
}

/* focus */
.md_switch [type=checkbox]:focus+.md_switch__toggle {
	background: #4982c4;
	padding: 3px 1px;
}

/* slider & hover */
.md_switch .md_switch__toggle:hover::before{
	background-color: #dbdbdb;
}
/* switch & hover */
.md_switch .md_switch__toggle:hover::after{
	background-color: #858585;
}

/* slider:checked & hover */
.md_switch [type=checkbox]:checked+.md_switch__toggle:hover::before{
	background-color: #858585;
}
/* switch:checked & hover */
.md_switch [type=checkbox]:checked+.md_switch__toggle:hover::after{
	background-color: #dbdbdb;
	;
}

/**************/

.change-color .manuscript .TEI {
	border: 1px solid black;
}
.change-color .TEI{
	background:#ffffff !important;
} 
.change-color .TEI *{
	color: black !important;
}
.change-color .manuscript .pb-title,
.change-color .byline-divider{
	border-top: 1px dotted black;
}
.change-color .unclear,
.change-color .gap,
.change-color .rdg,
.manuscript .figure{
	border-bottom: 1px dotted black;
}
.change-color .sic,
.change-color .corr{
	border-bottom: 2px dotted black;
}
.invert-color .manuscript{
	filter: invert(1);
}
.rotate .TEI *{
	transform: rotate(0deg) !important;
	-ms-transform:rotate(0deg) !important; /* IE 9 */
	-moz-transform:rotate(0deg) !important; /* Firefox */
	-webkit-transform:rotate(0deg) !important; /* Safari and Chrome */
	-o-transform:rotate(0deg) !important; /* Opera */
}


/* CSS File for One More Voice (https://onemorevoice.org/) */

/* Created by Adrian S. Wisnicki */

/* This CSS file has been developed from the CSS file for Fieldwork of Empire (https://awisnicki.github.io/fieldwork_of_empire/). The CSS code in the latter is released under a Creative Commons Attribution-NonCommercial 4.0 International (CC BY-NC 4.0) license (https://creativecommons.org/licenses/by-nc/4.0/). Please feel free to reuse the code in the file, just be sure to attribute it properly and publicly on your site. */

/* 
Table of Contents
-----------------
** Main Site Colors **

** 1.0. Main CSS **
1.1. Main Components 
1.2. Mobile Fixed Nav
1.3. Navbar
1.4. Overlay
1.5. Artifact Gallery
1.6. Lines
1.7. Formatting
1.8. Lists

** 2.0 Transcription CSS **
2.1. Textual divisions
2.2. Buttons and button-like links
2.3. Pagebreaks, linebreaks, linenumbers
2.4. Parts of the page
2.5. Milestone and lines
2.6. Editorial elements
2.7. Rend classes (except lines, page placement, colors) 
2.8. Page placement 
2.9. Colors 
2.10. Misc 
2.11. Letters [not is use, commented out]
2.12. Specific item rendering
*/

/*--------------------------------------*/

/** Main Site Colors **/
/*
site-blue #2e68ac;
site-red #cc4943;
whitesmoke;
light gray #dbdbdb;
dark gray #858585;
dark brown #424242;
near black #525252;
also see 2.9 for manuscript colors
*/

/** 1.0 Main CSS **/

/* 1.1. Main Components */

html{
	font: 16px Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	color: #191716;
	padding: 0 1em 1em;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
	-ms-word-break: break-all;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}
body{
	/* max-width: 36em; */
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (min-width: 768px){
	body{
		font-size: .95em;
		max-width: 46em;
	}
}
@media only screen and (min-width: 992px){
	body{
		/* font-size: .85em; */
		max-width: 42em;
	}
	body.fixed-nav{
		padding-top: 0 !important;
	}
}
body.essay .main{
	padding-bottom: 1em;
}
h1{
	font-size: 2em;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
@media only screen and (min-width: 768px){
	h1{
		font-size: 2.2em;
	}
}
@media only screen and (min-width: 992px){
	h1{
		font-size: 2.3em;
	}
}
h2{
	font-size: .9em;
	font-weight: 300;
	font-family: Arial, Geneva, Tahoma, sans-serif;
	display: none;
}
@media only screen and (min-width: 480px){
	h2{
		font-size: 1em;
		display: block;
	}
}
@media only screen and (min-width: 768px){
	h2{
		font-size: 1.1em;
		display: block;
	}
}
h3{
	font-size: 1em;
	font-weight: bold;
	color: #2e68ac;
}
h4{
	font-style: italic;
	font-size: 1em;
	font-weight: 300;
}
h5.books{
	font-size: 1.1em;
	font-variant: small-caps;
	margin: 0;
}
h5.books::before{
	font-family: 'FontAwesome';
	content: '\f101';
	padding-right: .5em;
}
h5.books::after{
	font-family: 'FontAwesome';
	content: '\f100';
	padding-left: .5em;
}
/* adds padding for h4 labelled subsections in essays */
.subsection{
	padding-top: 2em;
}
.return-top{
	font: 16px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: .9em;
}
.title,
body.transcription .title{
	font-weight: bold;
	text-align: center;
	line-height: 1.6em;
	position: relative;
}
.title{
	padding-bottom: 0em;
}
body.transcription .title{
	padding-bottom: 1em;
}
@media only screen and (min-width: 320px){
	.title{
		padding-bottom: .5em
	}
	body.transcription .title{
		padding-bottom: 1.5em;
	}
}
@media only screen and (min-width: 480px){
	body.transcription .title{
		padding-bottom: .5em
	}
}
@media only screen and (min-width: 992px){
	.title,
	body.transcription .title{
		padding-bottom: 1.5em;
		display: block !important; /* Tied to overlay */
	}
}
.header-title{
	display: none;
}
@media only screen and (min-width: 992px){
	.header-title{
		display: block;
	}
}
img,
.image{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.image-border{
	border: 1px solid gray;
}
.title hr{
	display: none;
}
@media only screen and (min-width: 992px){
	.title hr{
		display: block;
	}
}
/* "Skip to main content" coding adapted from https://webaim.org/techniques/skipnav/ */
#skiptocontent a{
	font-size: 1.1em;
	color: white;
	background: #424242;
	padding: 6px;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	border-bottom-right-radius: 8px;
	position: absolute;
	top: -40px;
	left: 0px;
	z-index: 100;
	-webkit-transition: top 1s ease-out;
	transition: top .4s ease-out;
}
#skiptocontent a:focus{
	outline-color: transparent;
	position: fixed;
	top: 0px;
	left: 0px;
	-webkit-transition: top .1s ease-in;
	transition: top .4s ease-in;
}
@media only screen and (min-width: 768px){
	#skiptocontent a:focus{
		position: absolute;
	}
}
.main{
	font-size: 1.3em;
	text-align: left;
	line-height: 1.6em;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (min-width: 992px){
	.main{
		font-size: 1.2em;
		display: block !important; /* Tied to overlay */
	}
}
/* for essay title with subtitle */
.title-with-subtitle{
	margin-bottom: .5em;
}
/* for essay subtitle */
.subtitle{
	font-size: .9em;
	margin-top: .5em;
	margin-bottom: .5em;
}
.byline{
	font-size: .9em;
	padding: 0;
	margin: 0;
}
.byline-divider{
    width: 10em;
    border-top: 1px dashed gray;
	background: white;
	display: inline-block;
}
/* toc and toc-title used for page menus */
.toc{
	font-size: .9em;
	padding: 1em 0 0 0;
}
.toc-title{
	list-style-type:none;
	margin-left: -1.2em;
	display:inline-block;
}
/* assumes this goes at end of essay */
.footnote{
	font-size: .9em;
	padding-top: 1.5em;
}
.credits{
	font-size: 1.2em;
	line-height: 1.6em;
	text-align: left;
}
@media only screen and (min-width: 768px){
	.credits{
		font-size: 1.15em;
	}
}
@media only screen and (min-width: 992px){
	.credits{
		font-size: 1.1em;
		display: block !important; /* Tied to overlay */
	}
}
.footer{
	font-size: 1em;
	font-family: Arial, Geneva, Tahoma, sans-serif;
	text-align: center;
	line-height: 1.6em;
	padding-top: 1em;
}
@media only screen and (min-width: 768px){
	.footer{
		font-size: 1em;
	}
}
*:focus{
	outline: 0 none;
}
a,
a:visited{
	color: #2e68ac;
	/*text-decoration:none;*/
}
a:hover{
	color: #a83c37;
	background-color: #dbdbdb;
}
a:focus{
	color: #2b61a1;
	background-color: #dbdbdb;
}

.graphic a:hover,
.graphic a:focus{
	background-color: white;
}
a img{
	border: 3px white solid;
}
a:hover img,
a:focus img{
	border: 3px #2e68ac solid;
}
a.anchor{
	display: block;
	position: relative;
	top: -80px;
	visibility: hidden;
}
@media only screen and (min-width: 992px){
	a.anchor{
		top: -60px;
	}
}


/* 1.2. Mobile Fixed Nav */

/* Adapted from https://www.mattmorgante.com/technology/sticky-navigation-bar-javascript */

#sticky{
	background-color: white;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
/* applied after scroll height reached */
.fixed-nav #sticky{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	border-bottom: 1px gray solid;
	box-shadow: 0 4px 6px -6px #222;
	-webkit-box-shadow: 0 4px 6px -6px #222;
	-moz-box-shadow: 0 4px 6px -6px #222;
}
.menu,
.fixed-nav .menu{
	text-align: center;
	/* max-width: 36em; */
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
}
.menu{
	padding: 1em 0;
}
.fixed-nav .menu{
	padding: .5em 1em;
}
@media only screen and (min-width: 768px){
	.menu,
	.fixed-nav .menu{
		max-width: 46em;
	}
}
@media only screen and (min-width: 992px){
	.menu,
	.fixed-nav .menu{
		display: none;
	}
}
.icon-title{
	font-size: .95em;
	float: left;
	padding-top: .2em;
}
@media only screen and (min-width: 480px){
	.icon-title{
		font-size: 1.2em;
	}
}
@media only screen and (min-width: 768px){
	.icon-title{
		font-size: 1.6em;
		padding-top: .1em;
	}
}
.menu a.icon{
	font-size: 1.5em;
	color: black;
	border-top: none;
}
.menu a.icon:hover{
	color: #a83c37;

}
.menu a.icon:hover,
.menu a.icon:focus{
	padding: 1px 7px;
	margin: -1px -7px;
}
.nav-title{
	font-size: 1.7em;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 600;
}
@media only screen and (min-width: 480px){
	.nav-title{
		font-size: 2em;
	}
}
@media only screen and (min-width: 768px){
	.nav-title{
		font-size: 2.5em;
	}
}


/* 1.3. Navbar */

/* Navbar adapted from https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp */

/* Dropdown menu adapted from https://www.smashingmagazine.com/2017/11/building-accessible-menu-systems/ */

.topnav{
	font: 16px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 600;
	display: none;
}
@media only screen and (min-width: 992px){
	.topnav{
		display: block;
	}
}
.topnav ul{
	/* font-size: .95em; */
	text-align: center;
	list-style: none;
	padding: 0 0 .5em 0;
	margin: 0;
	display: block;
}
.topnav ul li{
	font-size: 1.1em;
	display: inline-block;
	position: relative;
}
.topnav ul li:hover,
.topnav ul li:focus-within{
	color: whitesmoke;
	background-color: #424242;
}
.topnav ul li a{
	color: black;
	padding: 16px 12px;
}
.topnav ul li a:hover,
.topnav ul li a:focus{
	color: whitesmoke;
	background-color: #424242;
}
.topnav ul li .dropdown .vh{
	position: absolute !important; /* !important in original code */
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
}
.topnav ul li .dropdown label{
	display: inline-block;
}
label::after,
a::after{
	font-family: 'FontAwesome';
}
label::after{
	content: '\f0da'; /* closed folder */
	display: inline-block;
    width: 0.5em;
}
input:checked + label::after{
	content: '\f0d7'; /* open folder */
}
.topnav ul li .dropdown label.dropbtn{
	padding: 16px 12px;
	border: none;
	outline: none;
}
[type="checkbox"]:checked + label{
	color: whitesmoke;
	background-color: #424242; /*dark brown*/
}
:checked + label .expanded-text{
	display: inline;
}
:checked + label .collapsed-text{
	display: none;
}
[type="checkbox"]:not(:checked) + label .expanded-text{
	display: none;
}
[type="checkbox"]:not(:checked) + label .collapsed-text{
	display: inline;
}
.dropdown-content{
	display: none;
}
:checked ~ .dropdown-content{
	display: block;
}
.dropdown-content a{
	white-space: nowrap;
	display: block;
}
.topnav ul li .dropdown .dropdown-content ul{
	text-align: left;
	min-width: 140px;
	padding: 0;
	box-shadow: 0 4px 6px -6px #222;
	-webkit-box-shadow: 0 4px 6px -6px #222;
	-moz-box-shadow: 0 4px 6px -6px #222;
	z-index: 1;
	position: absolute;
}
.topnav ul li .dropdown .dropdown-content ul li{
	font-size: .85em;
	background-color: #e3e3e3; /*light gray*/
	display: block;
}
.topnav ul li .dropdown .dropdown-content ul li:last-of-type{
	padding-bottom: .5em;
}
.topnav ul li .dropdown .dropdown-content ul li:hover,
.topnav ul li .dropdown .dropdown-content ul li:hover a,
.topnav ul li .dropdown .dropdown-content ul li:focus,
.topnav ul li .dropdown .dropdown-content ul li:focus-within a{
	color: whitesmoke;
	background-color: #858585; /*dark gray*/
	outline: none;
}
.topnav ul li .dropdown .dropdown-content ul li a,
.topnav ul li .dropdown .dropdown-content ul li a:visited{
	color: black;
	padding-top: 13px;
	padding-bottom: 13px;
}
.topnav ul li .dropdown .dropdown-content ul li a:hover{
	color: whitesmoke;
}
/* HTML hierarchy for topnav and color values */
/*
.topnav
.topnav ul
.topnav ul li 
.topnav ul li a

.topnav ul li .dropdown
.topnav ul li .dropdown input .vh
.topnav ul li .dropdown label.dropbtn
.topnav ul li .dropdown .dropdown-content
.topnav ul li .dropdown .dropdown-content ul
.topnav ul li .dropdown .dropdown-content ul li 
.topnav ul li .dropdown .dropdown-content ul li a

color: black;
color: whitesmoke;
background-color: #424242; [dark brown]
background-color: #858585; [dark gray]
background-color: #dbdbdb; [light gray]
*/


/* 1.4. Overlay */

/* Adapted from https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp */

/* The following prevents overlay from appearing above 768px */
@media only screen and (min-width: 992px){
	#nav3{
		display: none !important;
	}
}
body.fixed-nav .overlay .menu .nav-title,
body.fixed-nav .overlay .menu .close-title{
	color: whitesmoke;
}
/* Height & width depends on how you want to reveal the overlay (see overlay.js) */
.overlay{
	font-family: Arial, Geneva, Tahoma, sans-serif;
	color: whitesmoke;
	background-color: #424242; /* Black fallback color */
	opacity: 1;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	overflow-x: hidden; /* Disable horizontal scroll */
	overflow-y: auto;
	transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
	display: none;
}
.overlay-content{
	font-size: 1.1em;
	text-align: center;
	margin-top: 0;
	padding-bottom: 3em;
	width: 100%;
	top: 1em;
	position: relative;
	display: block;
}
@media only screen and (min-width: 768px){
	.overlay-content{
		font-size: 1.4em;
	}
}
.overlay ul{
	list-style-type: none;
	line-height: 1.6em;
	padding: 0;
	margin: 0;
}
.overlay li{
	padding: .8em 0;
}
.overlay li.section ul li{
	padding: .3em 0;
}
.overlay a,
.overlay a:visited{
	color: whitesmoke;
	text-decoration: underline;
	transition: 0.3s; /* Transition effects on hover (color)*/
}
.overlay a:hover,
.overlay a:focus{
	color: black;
	background-color: whitesmoke;
	text-decoration: underline;
}
.overlay .menu{
	padding: 1.5em 0 1em 0;
	border-bottom: 1px whitesmoke solid;
}
.overlay .menu .close-title{
	font-size: 2em;
	vertical-align: middle;
	line-height: 1.1em;
	right: .6em;
	position: absolute;
}
@media only screen and (min-width: 480px){
	.overlay .menu .close-title{
		line-height: 1.2em;
	}
}
.overlay .menu .close-title a{
	text-decoration: none;
}

/* The following lays out the logic of how elements in the page header appear and disappear. All of it is incorporated into the main CSS but is broken out here to reveal the logic. */
/*
.title{
	padding-bottom: 0em;
}
body.transcription .title{
	padding-bottom: 1em;
}
@media only screen and (min-width: 320px){
	.title{
		padding-bottom: .5em
	}
	body.transcription .title{
		padding-bottom: 1.5em;
	}
}
@media only screen and (min-width: 480px){
	body.transcription .title{
		padding-bottom: .5em
	}
}
@media only screen and (min-width: 992px){
	.title,
	body.transcription .title{
		padding-bottom: 1.5em;
	}
}
.header-title{
	display: none;
}
@media only screen and (min-width: 992px){
	.header-title{
		display: block;
	}
}
.title hr{
	display: none;
}
@media only screen and (min-width: 992px){
	.title hr{
		display: block;
	}
}
a.anchor{
	display: block;
	position: relative;
	top: -80px;
	visibility: hidden;
}
@media only screen and (min-width: 992px){
	a.anchor{
		top: -60px;
	}
}
.menu{
	padding: 1em 0;
}
.fixed-nav .menu{
	padding: .5em 1em;
}
@media only screen and (min-width: 768px){
	.menu,
	.fixed-nav .menu{
		max-width: 46em;
	}
}
@media only screen and (min-width: 992px){
	.menu,
	.fixed-nav .menu{
		display: none;
	}
}
.topnav{
	display: none;
}
@media only screen and (min-width: 992px){
	.topnav{
		display: block;
	}
}
@media only screen and (min-width: 992px){
	#nav3{
		display: none !important;
	}
}
.overlay{
	display: none;
}
.overlay-content{
	display: block;
}
@media only screen and (min-width: 768px){
	.title .back-button{
		font-size: 1.1em;
		padding-top: .3em;
	}
}
@media only screen and (min-width: 992px){
	.title .back-button{
		font-size: 1.2em;
		padding-top: .1em;
	}
}
*/


/* 1.5 Artifact Gallery */

.image-details{
	font-size: .85em;
	font-style: italic;
	text-align: center;
	color: #65615b;
}
.gallery{      
	text-align: center;
	margin-bottom: -2.5em;
	overflow: hidden;
}
.gallery-item{
	text-align: center;
	display: inline-block;
	vertical-align: top;
	padding: 0 0 2.5em 0;
	width: 100%;
}
@media only screen and (min-width: 768px){
	.gallery-item{
		padding: 0 .5em 2.5em .5em;
		width: calc(50% - 1.5em);
	}
}
@media only screen and (min-width: 992px){
	.gallery-item{
		width: calc(33.3% - 1.5em);
	}
}
.gallery-item:last-of-type{
	text-align: left;
}
.gallery figure{
	margin: 0;
}
.image-container{
	padding: .5em;
}
.gallery figure img{
	width: 100%;
	object-fit:cover;
	border-radius:50%;
	overflow: hidden;
	border: 2px solid #dbdbdb;
}
.gallery figure a img:hover,
.gallery figure a:focus img{
	border: 2px #2e68ac solid;
}
.gallery figure figcaption{
	font-size: .8em;
	font-family: Arial, Geneva, Tahoma, sans-serif;
	text-align: center;       
	line-height: 1.2em;
}


/* 1.6. Lines */

hr{
	background-color: gray;
	height: 1px;
	border: 0;
	width: 100%;
}
.thick-hr{
	overflow: visible; /* For IE */
	border: none;
	border-top: medium double #191716;
	color: #191716;
	text-align: center;
	padding: 10px 10px 0 0;
	width: 50%;
}
.title-hr{
	margin-top: 2em;
	margin-bottom: 2em;
}
.divider-hr{
	margin-top: 3em;
	margin-bottom: 3em;
}
.text-divider{
	margin: 0 auto;
	width: 40%;
}


/* 1.7. Formatting */

.black{
	color: black;
}
.bold{
	font-weight: bold;
}
.center{
	text-align: center;
}
.highlight{
	color: #cc4943;
	font-style: italic;
	/* text-decoration:underline dotted; */
}
.italic{
	font-style: italic;
}
.left{
	text-align: left;
}
.site-blue{
	color: #2e68ac;
}
.site-red{
	color: #cc4943;
}
.smallcaps{
	font-variant: small-caps;
}
.underline{
	text-decoration: underline;
}


/* 1.8. Lists */

ol,
ul{
	padding: 0 0 0 1.4em;
	margin:0;
}
ol li ol{
	padding: 0 0 0 .5em;
}
@media only screen and (min-width: 768px){
	ol,
	ul,
	ol li ol{
		padding-left: 1.2em;
	}
}

/* The following items are used on the texts.html page. */
.author-entry{
	margin-top: 0em;
	margin-bottom: 0em;
	padding-bottom: 1em;
}
.archival-entry{
	margin-top: 0em;
	margin-bottom: 0em;

}
@media only screen and (min-width: 768px){
	.archival-entry{
		padding-left: 1em;
	}
}
.contribution-form{
	padding-left: 1em;
	padding-bottom: 0em;
	margin-bottom: 1em;
	margin-top: 0em;
}
@media only screen and (min-width: 768px){
	.contribution-form{
		padding-left: 2.5em;
	}
}
.critical-entry{
	margin-top: 0em;
	margin-bottom: 1em;
}
@media only screen and (min-width: 768px){
	.critical-entry{
		padding-left: 1em;
	}
}

/* The following items are used on the books.html page. */
.published-author{
	padding: 1.5em 0 0 0;
}
@media only screen and (min-width: 768px){
	.works-list{
		padding: 0 0 0 2em;
	}
}
.works-list li{
	padding: 0 0 .75em 0;
}

/* The following item is used on the site_map.html page. */
.sitemap-list{
	display: inline-block;
	text-indent: 0;
	margin-left: 1em;
}
.sitemap-list .sitemap-list:before{
	content: "•";
	margin:0 5px 0 -15px;
}

/* The following items are used on the analytical_priorities.html, project_design.html, and collaboration.html pages. */
ol.concept-list li,
ul.concept-list li{
	margin-bottom: .7em;
}
ol.concept-list li:last-child,
ul.concept-list li:last-child{
   margin-bottom: 0;
}



/** 2.0 Transcription CSS **/

/* 2.1. Textual divisions */

.transcription{
	text-align: center;
}
.manuscript,
.journal,
.artifact{
	font-size: 1.3em;
	line-height: 1.6em;
	display: block;
}
@media only screen and (min-width: 992px){
	.manuscript,
	.journal,
	.artifact{
		font-size: 1.2em;
		display: block !important; /* Tied to overlay */
	}
}
@media only screen and (min-width: 768px){
	.journal.narrow{
		width: 70%;
		margin: 0 auto;
	}
}
.TEI{
	position: relative;
}
.manuscript .TEI{
	padding: 1em 0 5em 0;
	margin: .5em 0 2em 0;
	border: 2px solid gainsboro;
}
.manuscript .ms-container{
	display: inline-block;
	/*white-space:nowrap;*/
	text-align: left;
	margin-left: .5em;
	margin-right: .5em;
}
.manuscript .front{
	margin-bottom: -1em;
}
.manuscript .back{
	margin-top: -1em;
}
/* This and the next item turn off wide manuscript items on mobile. See corresponding XSL. Also see https://dev.to/ananyaneogi/useful-css-media-query-features-o7f */
@media only screen and (max-aspect-ratio: 5/8) and (max-width: 580px), only screen and (orientation: portrait) and (max-width: 580px){
	body .manuscript,
	body .switches{
		display: none;
	}
	body .narrow-mobile{
		display: block;
	}
}
.narrow-mobile{
	font-size: 1.1em;
	font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: #dbdbdb;
	line-height: 1.6em;
	padding: 1em;
	margin: 1em;
	border: 1px solid black; /*#2e68ac*/ /*#cc4943*/
	display: none;
	overflow-wrap: initial;
	word-wrap: initial;
	word-break: initial;
	hyphens: initial;
	-ms-word-break: initial;
	-ms-hyphens: initial;
	-moz-hyphens: initial;
	-webkit-hyphens: initial;
}
.journal .TEI{
	display: block;
	text-align: justify;
	padding: 1.5em 0 2em 0;
	margin-left: auto;
	margin-right: auto;
}
.artifact .TEI{
	padding: 0;
}
@media only screen and (min-width: 768px){
	.artifact .TEI{
		padding: 1em 0;
	}
}


/* 2.2. Buttons and button-like links */

/* .back-button is used on pages with critically-edited primary texts */
.back-button a,
.back-button a:visited{
	font-family: Arial, Geneva, Tahoma, sans-serif;
	color: #2e68ac;
	text-decoration: none;
}
.back-button a:hover{
	color: #a83c37;
}
.title .back-button{
	font-size: .95em;
	font-weight: 300;
	left: 0;
	position: absolute;
}
@media only screen and (min-width: 768px){
	.title .back-button{
		font-size: 1.05em;
		padding-top: .3em;
	}
}
@media only screen and (min-width: 992px){
	.title .back-button{
		font-size: 1.1em;
		padding-top: .1em;
	}
}
/* #rotate button and .rotate-180 used for artifact images that need to be rotated */
/* Button/rotation functionality adapted from https://www.w3schools.com/howto/howto_js_toggle_class.asp and https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Switch_role */
button::-moz-focus-inner{
	border: 0;
  }
#rotate-button{
	font-family: Arial, Geneva, Tahoma, sans-serif;
	font-size: .75em;
	background-color: #dbdbdb;
	border: 1px solid #858585;
	border-radius: 12px;
	float: left;
	padding: .5em 1em;
	margin: 1.5em 0;
	display: none;
}
@media only screen and (min-width: 768px){
	#rotate-button{
		display: block;
	}
}
#rotate-button:hover{
	color:whitesmoke;
	background-color: #424242;

}
#rotate-button:focus{
	border: 2px #2e68ac solid;
}
#rotate-button.click-color{
	color: whitesmoke;
	background-color: #858585;
}
#rotate-button.click-color:hover{
	background-color: #424242;
}
.rotate-180{
	-ms-transform:rotate(180deg); /* IE 9 */
	-moz-transform:rotate(180deg); /* Firefox */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
	-o-transform:rotate(180deg); /* Opera */
}


/* 2.3. Pagebreaks, linebreaks, linenumbers */

.pb-title{
	color: #2e68ac;
	font-size: .9em;
	font-family: "source sans pro", calibri, arial, helvetica, sans-serif;
	text-decoration: none;
	text-indent: 0;
}
.manuscript .pb-title{
	padding-top: 2em;
	margin: 2em 0 .5em 0;
	border-top: 1px dotted #858585;
	width: 100%;
	display: inline-block;
}
.journal .pb-title{
	margin: 3em 0 .5em 0;
	display: block;
}
.artifact .pb-title{
	text-align: left;
	width: 100%;
	display: inline-block;
}
.manuscript .TEI.front .ms-container .div:first-of-type .pb-title:first-of-type,
.manuscript .TEI .ms-container .body .div:first-of-type .pb-title:first-of-type,
.manuscript .TEI.back .ms-container .div:first-of-type .pb-title:first-of-type,
.journal .TEI .text .body .div .pb-title:first-of-type,
.artifact .TEI .ms-container .body .div:first-of-type .pb-title:first-of-type{
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}
.blank{
	color: #65615b;
	font-size: .9em;
	font-style: italic;
}
.image-enlarge{
	color: #65615b;
	font-size: .85em;
	font-style: italic;
	display: none;
}
@media only screen and (min-width: 768px){
	.image-enlarge{
		display: block;
	}
}
.linenumber{
	font-size: .8em;
	font-family: "source sans pro", calibri, arial, helvetica, sans-serif;
	color: #8c8b85;
	text-align: right;
	float: left;
	margin-left: -3em; /*!important removed*/
	width: 1em;
	display: none;
}
.p .linenumber{
	text-indent: -1%;
}
.p.noindent.linenumber{
	text-indent: 1em;
}
.p.center .linenumber{
	margin-left: -6.4em; /*!important removed*/
}
.p.right .linenumber{
	margin-left: -10.5em; /*!important removed*/
}
.list .linenumber{
	text-indent: 0;
}


/* 2.4. Parts of the page */

.p,
.ab{
	text-indent: 25px;
	margin-top: 0;
	margin-bottom: 0;
}
.manuscript .p,
.manuscript .ab,
.artifact .p,
.artifact .ab{
	display: inline-block
}
.artifact p{
	padding: 0;
	margin: 0;
}
.journal .p,
.journal .ab{
	display: block;
}
.p.noindent,
.p.center,
.p.right,
.ab.noindent,
.ab.center,
.ab.right{
	text-indent: 0;
}
.journal .p.center,
.journal .ab.center,
.journal .fw{
	display: block;
}
.manuscript .head.center{
	font-weight: normal;
	text-indent: 0;
	text-align: center;
	margin: 0;
	display: block;
}
.note{
	text-align: left;
}
.fw{
	text-indent: 0;
	text-align: center;
	line-height: 1.3em;
	margin-bottom: .5em;
	overflow: hidden;
	position: relative;
}
.manuscript .fw{
	display: inline;
}
.fw .center{
	display: inline
}
.fw.pageno{
	text-indent: 0;
}
.fw.right{
	float: right;
}
.fw.catch.right{
	text-align: right;
	right: 0;
	position: absolute;
}
.fw .note.right{
	float: right;
	position: unset;
}
table{
	font-size: .9em;
	border-style: none;
	margin: 0 auto;
	line-height: 1.3em;
}
@media only screen and (min-width: 768px){
	table{
		font-size: 1em;

	}
}
tr,
td{
	text-align: left;
	border-style: none;
}
table .linenumber{
	display: none;
}


/* 2.5. Milestone and lines */

.milestone{
	display: block;
	text-align: left;
	background: #FFF;
	height: 0;
	padding: 0px;
}
.line{
	border-bottom: 1px solid #d0d0d0;
	border: 0;
	border-top: 1px solid #58484b;
	width: 100%;
}
.doubleline,
.quarterline.doubleline{
	border-top: 4px double #8c8b8b;
}
.tripleline{
	line-height: 1.9em;
	border-top: 4px double #8c8b8b;
}
.halfline{
	border-bottom: 1px solid #d0d0d0;
	border: 0;
	border-top: 1px solid #58484b;
	padding: 0;
	width: 50%;
}
.manuscript .halfline{
	margin: 1em auto -1em auto;
}
.journal .halfline{
	margin: 2em auto;
}
.quarterline{
	border-bottom: 1px solid #d0d0d0;
	border: 0;
	border-top: 1px solid #58484b;
	width: 25%
}
.second-line{
	border-bottom: 1px solid #d0d0d0;
	border: 0;
	border-top: 1px solid #58484b;
	margin-top: -1em;
	margin-bottom: 0em;
}
.third-line{
	margin-top: 1.5em;
	border-bottom: 1px solid #d0d0d0;
	border: 0;
	border-top: 1px solid #58484b;
}
.vertical.line{
	display: none;
}


/* 2.6. Editorial elements */

.del,
.del-by-over-text{
	text-decoration: line-through;
}
.unclear{
	color: #706f6a;
	border-bottom: 1px dotted #858585;
}
.gap{
	border-bottom: 1px dotted #858585;
}
.sic,
.corr{
	border-bottom: 2px dotted #cc4943;
}
.abbr,
.expan{
	display: none;
}
.rdg{
	border-bottom: 1px dotted #858585;
}


/* 2.7. Rend classes (except colors, lines, and up-down placement) */

.caps{
	text-transform: uppercase;
}
.manuscript .center{
	margin: 0 auto;
	display: block;
}
.manuscript .milestone.center{
	text-indent: 0;
	margin-left: 3.7em;
}
.journal .center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.dottedunderline{
	border-bottom: 1px dashed;
}
.doubleunderline{
	border-bottom: 3px double;
}
.tripleunderline{
	border-bottom: 4px double;
	text-decoration: underline;
}
.indent{
	text-indent: 25px;
}
.large{
	font-size: 1.3em;
}
.journal .left{
	float: left;
	clear: both;
}
.overline{
	text-decoration: overline;
}
.overline.underline{
	text-decoration: overline underline;
}
.manuscript .right{
	text-indent: 0;
	margin-left: 4em;
}
.journal .right{
	text-align: left;
	right: 0;
	position: absolute;
}
.marginright{
	float: right;
}
.small{
	font-size: .85em;
}
.upside-down{
	/*-ms-transform:rotate(180deg);*/ /* IE 9 */
	/*-moz-transform:rotate(180deg);*/ /* Firefox */
	/*-webkit-transform:rotate(180deg);*/ /* Safari and Chrome */
	/*-o-transform:rotate(180deg);*/ /* Opera */
}
.vertical{
	/*-ms-transform:rotate(90deg);*/ /* IE 9 */
	/*-moz-transform:rotate(90deg);*/ /* Firefox */
	/*-webkit-transform:rotate(90deg);*/ /* Safari and Chrome */
	/*-o-transform:rotate(90deg);*/ /* Opera */
}


/* 2.8. Page placement */

.above,
.below,
.bottom,
.sub,
.sup,
.top{
	/* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
	font-size: 80%;

	/* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
	line-height: 0;

	/* Where the magic happens:makes all browsers position
     the sup/sup properly, relative to the surrounding text */
	position: relative;

	/* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
	vertical-align: baseline;
}
.above,
.sup,
.top{
	/* Move the superscripted text up */
	top: -0.50em;
}
.below,
.bottom,
.sub{
	/* Move the subscripted text down, but only
     half as far down as the superscript moved up */
	bottom: -0.50em;
}


/* 2.9. Colors */

.black{
	color: black;
}
.black.gray{
	color: #65615b;
}
.blue{
	color: blue;
}
.blue.black{
	color: #245a82;
}
.brown{
	color: #664d36;
}
.brown.black{
	color: #473225;
}
.brown.red{
	color: #966f5b;
}
.gray{
	color: #858585;
}
.gray.black{
	color: #3d4245;
}
.green{
	color: green;
}
.orange{
	color: orange;
}
.purple{
	color: purple;
}
.red{
	color: #B33B24;
}
.yellow{
	color: yellow;
}


/* 2.10. Misc */

.none{
	display: none;
}
.figure{
	margin-left: 0;
	color: #666666;
	font-size: .8em;
}
.manuscript .figure{
	border-bottom: 1px #858585 dotted;
}
.artifact .graphic{
	pointer-events: none;
	/* cursor: default; */
}
@media only screen and (min-width: 768px){
	.artifact .graphic{
		pointer-events: unset;
	}
}
@media only screen and (min-width: 480px){
	.artifact .graphic.vertical img{
		width: 70%;
	}
}
.artifact .graphic.gray img{
	border: 3px #dbdbdb solid;
}
.artifact .graphic.gray a:hover img,
.artifact .graphic.gray a:focus img{
	border: 3px #2e68ac solid;
}
.journal .image-small.inline-left{
	float: left;
	width: 4.5em;
}
.image-small{
	width: 40%;
	display: inline-block;
}
.image-medium{
	width: 60%;
	display: inline-block;
}
.metamark{
	/*color:#666666;
	border-bottom:1px #666666 dotted;*/
}
.collective,
.orgName,
.placeName,
.geogName,
.bloc,
.country,
.region,
.settlement{
	/* border-bottom: 1px #2e68ac dotted; */
}

/* The following is useful for coding review */
/* .collective{
	background-color: darkgray;
}
.settlement{
	background-color: coral;
}
.geogName{
	background-color: greenyellow;
} */
/* .placeName{
	background-color: pink;
}
.country{
	background-color: burlywood;
}
.persName{
	background-color: yellow;
} */
/* .orgName{
	background-color: lightblue;
}
.region{
	background-color: bisque;
}
.bloc{
	background-color: purple;
} */


/* 2.13. Letters [not in use] */

/*
.opener,
.closer,
.trailer{
	margin-bottom:0px;
}
.opener{
	display:inline;
	margin-top:1em;
}
.closer,
.address{
	display:block;
}
.dateline{
	display:inline;
	text-indent:0;
}
.signed{
	display:inline-block;
}
*/


/* 2.14. Specific item rendering */
.metamark.liv_000023_0036{
	padding: .19em .7em;
	margin-left: -.4em; 
	border-top: 1.5px solid;
	/* border-left: 1.5px solid; */
	border-top-left-radius: 3em;
	/* border-bottom-left-radius: 3em; */
}
.metamark.liv_000023_0043{
	border-right: 2px solid;
	padding: 0 1px;
	margin: 0 3px;
	height: 500px;
}
.metamark.liv_000023_0090::before{
	content: '{';
	margin-left: -.4em;
	float: left;
	font-size: 3.5em;
	transform: scale(.35, 1.7);
	padding-top: .1em;
}
.columnLeft.liv_000023_0092{
	text-align: center;
	float: left;
	padding-right: 2em;
}
.columnRight.liv_000023_0092{
	float: right;
}
.columnCenter.liv_000023_0092{
	padding: 0 1em;
}
.ab.liv_000023_0092{
	text-align: left;
}
.milestone.center.line.liv_000023_0092{
	margin-left: 5.3em;
}
.metamark.liv_000023_0110{
	border-bottom: 1px solid;
	border-bottom-right-radius: 2em;
	padding-bottom: .4em;
}
.metamark.liv_000023_0115{
	font-size: 1.2em;
	border: 1px solid;
	border-radius: 2em 2em 2em 0;
	padding: .1em .1em 0 .1em;
	margin-left: -0.3em;
}
@media only screen and (min-width: 768px){
	.text1.liv_000023_0115{
		line-height: 1.3em;
		padding: 0;
		margin: 5em 0 0 0;
		transform: rotate(270deg);
		-ms-transform:rotate(270deg); /* IE 9 */
		-moz-transform:rotate(270deg); /* Firefox */
		-webkit-transform:rotate(270deg); /* Safari and Chrome */
		-o-transform:rotate(270deg); /* Opera */
	}
	.text2.liv_000023_0115{
		float: right;
		transform: rotate(180deg);
		-ms-transform:rotate(180deg); /* IE 9 */
		-moz-transform:rotate(180deg); /* Firefox */
		-webkit-transform:rotate(180deg); /* Safari and Chrome */
		-o-transform:rotate(180deg); /* Opera */
	}
}
.text.liv_003027_0001{
	margin-bottom: .5em;
	display: inline-block;
	transform: rotate(330deg);
	-ms-transform:rotate(330deg); /* IE 9 */
	-moz-transform:rotate(330deg); /* Firefox */
	-webkit-transform:rotate(330deg); /* Safari and Chrome */
	-o-transform:rotate(330deg); /* Opera */
}
.note-1.liv_003027_0001{
	padding-top: 1em;
}
@media only screen and (min-width: 768px){
	.note-1.liv_003027_0001{
		padding-top: 0;
		float: left;
		transform: rotate(270deg);
		-ms-transform:rotate(270deg); /* IE 9 */
		-moz-transform:rotate(270deg); /* Firefox */
		-webkit-transform:rotate(270deg); /* Safari and Chrome */
		-o-transform:rotate(270deg); /* Opera */
		line-height: 1.2em;
		margin: -20em 0em -25em -14em;
	}
	.note-2.liv_003027_0001{
		float: right;
		width: 85%;
	}
	.note-3.liv_003027_0002{
		padding-left: 1em
	}
}
.metamark.first.liv_003027_0002{
	padding: .19em .7em;
	margin-left: -.8em; 
	border: 1px solid;
	border-radius: 3em;
}
@media only screen and (min-width: 768px){
	.metamark.second.liv_003027_0002{
		border-top: 1px solid;
		padding-top: .18em;
		padding-left: .7em;
		margin-left: -.75em;
	}
}
@media only screen and (min-width: 768px){
	.text.liv_020011_0001{
		color: #998a83;
		line-height: 1em;
		margin: 3em 0 -1em -1.5em;
		padding: .7em;
		border: 1px solid #998a83;
		border-radius: 3em;
		float:left;
		transform: rotate(270deg);
		-ms-transform:rotate(270deg); /* IE 9 */
		-moz-transform:rotate(270deg); /* Firefox */
		-webkit-transform:rotate(270deg); /* Safari and Chrome */
		-o-transform:rotate(270deg); /* Opera */
	}
	.line.liv_020011_0001{
		margin: 0em 0 -2em 0 !important;
	}
	.text.liv_020011_0004{
		padding: 0 10em 0 10em;
		margin: -2em 1em -6em 0;
		float: right;
		transform: rotate(90deg);
		-ms-transform:rotate(90deg); /* IE 9 */
		-moz-transform:rotate(90deg); /* Firefox */
		-webkit-transform:rotate(90deg); /* Safari and Chrome */
		-o-transform:rotate(90deg); /* Opera */
	}
	.text.liv_020011_0004 .unclear{
		color: #c7c7c7;
	}
}
.text.liv_020011_0001{
	color: #998a83;
}
.line.liv_020011_0001{    
	border-top: 1.5px solid #58484b;
	margin: 0em 0 -1em 0;
	width: 11em;
}
.metamark.liv_020011_0003{
	border: 1px solid;
	border-top: none;
	border-radius: 13px;
    padding: 4px;
	}
.signed.liv_020011_0004{
	padding: .3em .7em;
	border-right: 1px solid #664d36;
	border-left: 1px solid #664d36;
	border-radius: 3em;
}
.text.liv_020011_0004,
.text.liv_020011_0004 .unclear{
	color: #c7c7c7;
}
.archival.liv_020024_0001{
	font-family: Arial, Geneva, Tahoma, sans-serif;
	float: right;
	transform: rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-moz-transform:rotate(180deg); /* Firefox */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
	-o-transform:rotate(180deg); /* Opera */
}
.handwriting.liv_020024_0001{
	font-family: Arial, Geneva, Tahoma, sans-serif;
	float: right;
	transform: rotate(160deg);
	-ms-transform:rotate(160deg); /* IE 9 */
	-moz-transform:rotate(160deg); /* Firefox */
	-webkit-transform:rotate(160deg); /* Safari and Chrome */
	-o-transform:rotate(160deg); /* Opera */
	padding-top: 1em;
}
.number.liv_020024_0001{
	float: right;
}
.header1.liv_020024_0001{
	font-family: Arial, Geneva, Tahoma, sans-serif;
}
@media only screen and (min-width: 768px){
	.header1.liv_020024_0001{
		left: 1em;
		position: absolute;
	}
}
.header2.liv_020024_0001{
	text-align: right;
	float: right;
	padding-bottom: 2em;
	position: relative;
}
.decoration.liv_020024_0001 img{
	width: 7em;
	position: absolute;
    top: -8.5em;
    left: 7em;
}
.header3.liv_020024_0001{
	font-family: Arial, Geneva, Tahoma, sans-serif;
}