.topnav {
  font-family: Arial, Geneva, Tahoma, sans-serif;
  background: white;
  overflow: hidden;
  padding-bottom: .5em;
  display: inline;
}

.topnav a {
  font-size: 1.1em;
	font-weight: 600;
	text-decoration: none;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}

.topnav ul {
  text-align: center;
  padding: 0;
  margin: 0;
}

.topnav li{
  display: inline-block;
}

.topnav .icon,
.topnav .close {
  display: none;
}

.dropdown {
  font-family: Arial, Geneva, Tahoma, sans-serif;
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.1em;
	font-weight: 600;
	text-decoration: none; 
  border: none;
  outline: none;
  color: black;
  padding: 18px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: .9em;
  background-color: #e6e6e6;
  border-top: 1px solid #424242;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: white;
  background-color: #424242;
}

.topnav a:hover, .dropdown:hover {
  text-decoration: underline;
}

.dropdown-content a:hover {
  color: black;
	background-color: #c9c9c9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav ul {
    display: block;
    float: none;
    text-align: inherit;
  }
  .topnav a.icon {
    font-size: 1.3em;
    display: block;
  }
  .topnav a, .dropdown .dropbtn {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive ul {
    position: relative;
  }
  .topnav.responsive li {
    display: block;
    float: none;
  }
  .topnav.responsive .close {
    width: 1em;
    top: 0;
    position: relative;
    float: right;
  }
  .topnav.responsive .icon {
    display: none;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    clear: both;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    /*width: 100%;*/
    /*text-align: left;*/
  }
  .topnav.responsive .dropdown-content {
    /*position: relative;*/
  }
}