
@charset "UTF-8";
.navigation {
  height: 70px;
  background: white;
}

/* logo and branding */
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

/*Container with no padding for navbar*/
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

/*navigation*/
/*navbar*/
nav {
  font-family: Arial, Geneva, Tahoma, sans-serif;
  background-color: white;
  /*float: right;*/
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
/*navbar a*/
nav ul li a,
nav ul li a:visited {
  color: black;
  background: white;
  font-size: 1.1em;
	font-weight: 600;
	text-decoration: none;
  line-height: 70px;
  padding: 0 20px;
  display: block;  
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  color:black;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

/* Dropdown List*/
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

/* Dropdown list binds to JS toggle event */
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

/* Binds to JS Toggle */
.nav-mobile {
  font-size: .8em;
  display: none;
  position: absolute;
  top: 24px;
  right: 38px;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    float: right;
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
   nav ul li a,
   nav ul li a:visited {
    font-size: 1em;
    font-weight: 300;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}