/* Taken from https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp */

 /* Height & width depends on how you want to reveal the overlay (see JS below) */    
.overlay {
  font: 16px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: whitesmoke;
  height: 100%;
  width: 100%;
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #424242; /* Black fallback color */
  background-color: #424242, 0.9; /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
  position: relative;
  top: 5em; /* 5em from the top */
  width: 100%; /* 100% width */
  text-align: left; /* ignore: Centered text/links */
  margin-top: 0; /* ignore: 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 1em;
  color: whitesmoke; /* Color for links */
  text-decoration: underline;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color)*/
}

.overlay a:hover, .overlay a:focus {
  text-decoration: underline;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}