.vh { 
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
/*padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;*/
  overflow: hidden;
}

[data-menu-component] {
  position: relative;
  /*display: inline-block;*/
}

label {
  /*display: inline-block;*/
}

[role="menu"] ul {
  /*list-style: none;*/
  /*margin: 0;
  padding: 0;*/
}

[data-opens-menu], [role="menu"] a {
  /*line-height: 1;
  text-align: left;
  background: black;
  border: 0;
  color: #fff;
  padding: 0.33rem 0.5rem;
  text-decoration: none;*/
}

[type="checkbox"]:focus + [data-opens-menu], [role="menu"] a:focus {
  outline: none;
  background: #dbdbdb;
}

:checked + label .expanded-text {
  display: inline;
}

:checked + label .collapsed-text {
  display: none;
}

[type="checkbox"]:not(:checked) + label .expanded-text {
  display: none;
}

[type="checkbox"]:not(:checked) + label .collapsed-text {
  display: inline;
}

[role="menu"] {
  position: absolute;
  left: 0;
  display: none;
}

:checked ~ [role="menu"] {
  display: block;
}

/*[data-menu-origin="right"] {
  left: auto;
  right: 0;
}*/

[role="menu"] a {
  display: block;
  /*min-width: 100%;
  margin-top: 0.125rem;*/
  white-space: nowrap;
}


/* CSS File for One More Voice (http://onemorevoice.org/) */

/* Created by Adrian S. Wisnicki */

/* This CSS file has been developed from the CSS file for Fieldwork of Empire (https://awisnicki.github.io/fieldwork_of_empire/). The CSS code in the latter is released under a Creative Commons Attribution-NonCommercial 4.0 International (CC BY-NC 4.0) license (https://creativecommons.org/licenses/by-nc/4.0/). Please feel free to reuse the code in the file, just be sure to attribute it properly and publicly on your site. */


/* Main components */

html{
	font: 16px Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	color: #191716;
	padding: 0 1em 1em;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
	-ms-word-break: break-all;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}
@media only screen and (max-width : 414px){
	html{
		font-size: 1.1em;
	}
}
@media only screen and (max-width : 320px){
	html{
		font-size: 1.2em;
	}
}
body{
	max-width: 38em;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (max-width : 414px){
	body{
		width: 100%;
	}
}
.title,
.footer{
	text-align: center;
	line-height: 1.6em;
}
.title{
	font-weight: bold;
	padding-bottom: 1em;
}
@media only screen and (max-width : 600px){
	.title{
		padding-bottom: .5em;
	}
}
.main{
	text-align: left;
	line-height: 1.8em;
	margin-left: auto;
	margin-right: auto;
}
.citation{
	font-size: .9em;
	line-height: 1.6em;
	padding-top: 1em;
}
.caption{
	font-size: .9em;
	line-height: 1.6em;
}
.footer{
	font-family: Arial, Geneva, Tahoma, sans-serif;
	font-size: .85em;
	padding-top: 1em;
}
.image{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.image-border{
	border: 1px solid gray;
}
/*ul{
	padding-left: 18px;
	padding-bottom: 1em;
}
.p-list{
	margin-top: 0em;
	margin-bottom: 0em;
}
.bio{
	padding-bottom: 1em;
}
.ul-list{
	padding-left: 2.5em;
	padding-bottom: 0em;
	margin-bottom: 1em;
	margin-top: 0em;
}*/


/* Dropdown Menu */
/* Adapted from https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp */

.menu,
.nav-title,
.icon-title,
.overlay-content{
	display: none;
}
.header-title{
	display: block;
}
@media screen and (max-width : 600px){
	.header-title{
		display: none;
	}
}
/**********************************/
.topnav{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: black;
	margin: 0;
	/*padding-bottom: 0;*/
	/*background: white;*/
	/*overflow: hidden;*/
	/*display: inline;*/
}
@media screen and (max-width : 600px){
	.topnav{
		display: none;
	}
}
.topnav a,
.topnav a:visited{
	color: black;
	text-decoration: underline;
	/*float: left;*/
	/*display: block;*/
	/*text-align: center;*/
}
@media screen and (max-width : 600px){
	.topnav a,
	.topnav a:visited{
		display: none;
	}
}
/**********************************/
.topnav ul{
	font-size: 1.1em;
	font-weight: 600;
	display: block;
	text-align: center;
	list-style: none;
	padding: 0 0 .5em 0;
	margin: 0;
}
.topnav li{
	display: inline-block;
	/*padding: 1em;*/
}
/**********************************/
.dropdown{
	color:whitesmoke;
	/*padding: 1em;*/
	/*float: left;*/
	/*overflow: hidden;*/
}
.dropbtn {
	text-decoration: none;
	border: none;
	outline: none;
	color: black;
	background-color: inherit;
	font-family: inherit;
	/*padding: 1em;*/
	/*margin: 0;*/
}
.dropdown-content{
	color:black;
	background-color: #f9f9f9;
	z-index: 1;
	/*font-size: .9em;*/
	/*display: none;*/
	/*position: absolute;*/
	/*min-width: 160px;*/
	/*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
}

/**********************************/

/* .topnav a:hover{
	color:whitesmoke;
	background-color: #424242;
	margin:0;
	padding: 1em;
	background-color: #dbdbdb;
	float: none;
	display: block;
	text-align: left;
} */
/* .dropdown:hover {
	color:whitesmoke;
	background-color: #424242;
	padding: 1em;
} */
/* .dropdown-content li:hover{
	color:whitesmoke;
	background-color: #424242;
} */


/* Mobile Fixed Nav*/
/* Adapted from https://www.mattmorgante.com/technology/sticky-navigation-bar-javascript */
@media screen and (max-width : 600px){
	nav{
		width: 100%;
		text-align: center;
		margin: 0 auto;
		background-color: white;
	}
	/* applied after scroll height reached */
	.fixed-nav nav{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		border-bottom: 1px gray solid;
		box-shadow: 0 4px 6px -6px #222;
		-webkit-box-shadow: 0 4px 6px -6px #222;
		-moz-box-shadow: 0 4px 6px -6px #222;
	}
	.menu{
		display: block;
		text-align: center;
		padding: 1em 0;
		position: relative;
	}
	body.fixed-nav .menu{
		padding: .5em 0;
	}
	.menu .icon-title{
		display: block;
		position: absolute;
		left: 0;
		padding-top: .2em;
	}
	body.fixed-nav .menu .icon-title{
		left: 1em;
		position: absolute;
	}
	.menu .nav-title{
		font-size: 1.7em;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-weight: 600;
		display: block;
	}
	.menu a.icon{
		font-size: 1.5em;
		color: black;
		display: block;
		margin-bottom: .5em;
		border-top: none;
	}
	.menu a.icon:hover{
		color: black;
	}
	body.fixed-nav .menu .nav-title,
	body.fixed-nav .menu a.icon{
		color:#707070;	
	}
}
@media only screen and (max-width : 320px){
	.menu .icon-title{
		padding-top: 0;
	}
	.menu .nav-title{
		font-size: 1.6em;
	}
}
/* The following is a breakpoint for imaginary users with very small phones. */
@media only screen and (max-width : 270px){
	.menu .icon-title{
		margin-top: -.1em;
	}
	.menu .nav-title{
		font-size: 1.4em;
	}
}

/*Overlay*/
/* Adapted from https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp */

/* Height & width depends on how you want to reveal the overlay (see overlay.js) */
@media screen and (max-width : 600px){
.overlay{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: whitesmoke;
	height: 100%;
	width: 100%;
	display: none;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	background-color: #424242; /* Black fallback color */
	opacity: 1;
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
.overlay-content{
	position: relative;
	top: 1em;
	width: 100%;
	text-align: center;
	margin-top: 0;
	display: block;
}
.overlay ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	line-height: 1.6em;
}
.overlay li{
	padding: .8em 0;
}
.overlay li.section ul li{
	padding: .3em 0;
}
.overlay a{
	font-size: 1em;
	color: whitesmoke;
	text-decoration: underline;
	transition: 0.3s; /* Transition effects on hover (color)*/
}
.overlay a:hover,
.overlay a:focus{
	text-decoration: underline;
}
.overlay .menu{
	padding: 1.5em 0 1em 0;
	border-bottom: 1px whitesmoke solid;
}
.overlay .menu .close-title{
	font-size: 2em;
	vertical-align: middle;
	line-height: 0.8em;
	position: absolute;
	right: .8em;
}
.overlay .menu .close-title a{
	text-decoration: none;
}
}
@media only screen and (max-width : 320px){
	.overlay .menu .close-title{
		line-height: 0.80em;
	}
}
/* The following is a breakpoint for imaginary users with very small phones. */
@media only screen and (max-width : 270px){
	.overlay .menu .close-title{
		line-height: 0.75em;
	}
}


/*Headings & Lines*/

h1{
	font-size: 2.1em;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
@media only screen and (max-width : 414px){
	h1{
		font-size: 2em;
	}
}
@media only screen and (max-width : 320px){
	h1{
		font-size: 1.9em;
	}
}
h3{
	font-size: .9em;
	font-weight: 300;
	font-family: Arial, Geneva, Tahoma, sans-serif;
}
@media only screen and (max-width : 414px){
	h3{
		font-size: .85em;
	}
}
@media only screen and (max-width : 320px){
	h3{
		font-size: .8em;
	}
}
hr{
	width: 100%;
	background-color: gray;
	height: 1px;
	border: 0;
}
.narrow-hr{
	width: 45%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
.thick-hr{
	width: 50%;
	overflow: visible; /* For IE */
	border: none;
	border-top: medium double #191716;
	color: #191716;
	text-align: center;
	padding: 10px 10px 0 0;
}


/*Formatting*/

.big{
	font-size: 1.1em;
}
.bigger{
	font-size: 1.2em;
}
.bold{
	font-weight: bold;
}
.center{
	text-align: center;
}
.italic{
	font-style: italic;
}
.left{
	text-align: left;
}
.site-blue{
	color: #2e68ac;
}
.site-red{
	color: #e4524b;
}
.small-caps{
	font-variant: small-caps;
}
.small-caps-palatino{
	font-variant: small-caps;
	font-family: Palatino;
}
.small{
	font-size: .9em;
}
.smaller{
	font-size: .8em;
}
.underline{
	text-decoration: underline;
}


/*Links*/

a,
a:visited{
	color: #2e68ac;
	/*text-decoration:none;*/
}
a:hover{
	color: #e4524b;
}
.currentLink{
	color: #640200;
}