/*Big parts*/

html{
font:16px Helvetica, sans-serif;
font-weight:normal;
color:#191716;
width:100%;
}

body {
}

.links {
font-size:1.1em;
color:#302c2a;
padding-top:.1em;
padding-bottom:.4em;
margin-top:-1em;
margin-bottom:-1em;
}

.title, .links, .footer {
font-weight:bold;
text-align:center;
line-height:1.6em;
}

.title {
margin-left:-10px;
margin-right:-10px;
}

.main{
text-align:left;
line-height:1.8em;
margin-left:auto;
margin-right:auto;
padding-left:1em;
padding-right:1em;
}

.footer {
font-size:.8em;
padding-top:.5em;
}

image {
margin-left:auto;
margin-right:auto;
}

.image {
width:100%;

}

ul {
padding-left:18px;
padding-bottom:1em;
}


/*Headings & Lines*/

h1 {
font-size:1.9em;
font-family:Verdana;
}

h2 {
font-size:1.75em;
font-family:Palatino;
}

h3 {
font-size:1em;
}

hr {
width:100%;
}

.thick {
width:50%;
overflow:visible; /* For IE */ 
border:none; 
border-top:medium double #191716; 
color:#191716;
text-align:center;
padding:10px 10px 0 0;
}


/*Formatting*/

.big {
font-size:1.1em;
}

.bigger {
font-size:1.2em;
}

.bold {
font-weight:bold;
}

.center {
text-align:center;
}

.italic {
font-style:italic;
}

.left {
text-align:left;
}

.small-caps {
font-variant:small-caps;
}

.small-caps-palatino {
font-variant:small-caps;
font-family:Palatino;
}

.small {
font-size:.9em;
}

.smaller {
font-size:.8em;
}


/*Links*/

a, a:visited {
color:#00a8e1
text-decoration:none;
}

a:hover {
color:#e4524b;

}

.links a {
color:#191716;
text-decoration:none;
}

.links a:hover {
text-decoration:underline;
}


/*Mobile*/

/* iPhone 5s: More than or equal to 320px */ 
@media only screen and (min-width:320px) {
body {
width:100%;
margin-left:auto;
margin-right:auto;
}
}

/* iPhone 6+: More than or equal to 414px */
@media only screen and (min-width:414px) {
body {
width:93%;
margin-left:auto;
margin-right:auto;
}
}

/* iPad Mini: More than or equal to 703px */
@media only screen and (min-width:703px) {
body {
width:85%;
margin-left:auto;
margin-right:auto;
}
}

/* iPad Air: More than or equal to 768px */
@media only screen and (min-width:768px) {
body {
width:80%;
max-width:40em;
margin-left:auto;
margin-right:auto;
font-size:1em;
}
}
